<template>
    <div class="tab-content">
        <p class="tab-title font-400 text-center mt-5 mb-10 dark-full">Parolni tiklash</p>

        <span
                class="error-text color-red d-block text-center font-400 mt-5"
        ></span>

        <v-text-field v-if="!showConfirm" class="mt-9" label="Telefon raqamni kiriting" outlined></v-text-field>
        <v-text-field v-else class="mt-9" label="Raqamga kelgan tasdiqlash kodini kiriting" outlined></v-text-field>

        <div class="ophan-button-1 mt-15">
            <v-btn @click="showConfirm = !showConfirm" class="w-100 text-white font-400" x-large depressed color="var(--pink)">Davom etish</v-btn>
        </div>

    </div>
</template>

<script>
export default {
    name: "PasswordRecover",
    data(){
        return{
            showConfirm: false
        }
    }

}
</script>

<style>

</style>