<template>
    <div class="landing-layout" :style="{background: 'linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),'+ 'url('+img+')'}">
        <Header/>
        <router-view />
        <Footer/>
    </div>
</template>

<script>
    import Header from "@/views/Landing/Header/Header";
    import Footer from "@/views/Landing/Footer/Footer";
    export default {
        name: "LandingLayout",
        components:{
            Footer,

            Header
        },
        data() {
            return {
                img: require("@/assets/img/rb.svg")
            };
        },
    }
</script>

<style lang="scss">

    @import url('https://fonts.googleapis.com/css2?family=K2D:wght@700&display=swap');
    .landing-layout{
    background-size: 100% !important;
        /*background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("https://i.imgur.com/xnh5x47.jpg");*/
    }
    @media screen and(max-width: 600px){
        .landing-layout{
            background-position: 0 400px  !important;
        }
    }
</style>