<template>
    <div class="payment-history-view">
        <div class="account-view-body mt-2">
            <div class="card-text-wrap pt-3">

                <div class="card-text mb-6">
                    <p class="title-1 color-dark mb-0">
                        Tashkent, O’zbekistan, 9 iyul, linux, ip adress
                    </p>

                    <span class="card-text-date d-block text-right mt-1">
                        4-aprel, 2020
                    </span>
                </div>

                <div class="card-text mb-6">
                    <p class="title-1 color-dark mb-0">
                        Tashkent, O’zbekistan, 9 iyul, linux, ip adress
                    </p>

                    <span class="card-text-date d-block text-right mt-1">
                        4-aprel, 2020
                    </span>
                </div>

                <div class="card-text mb-6">
                    <p class="title-1 color-dark mb-0">
                        Tashkent, O’zbekistan, 9 iyul, linux, ip adress
                    </p>

                    <span class="card-text-date d-block text-right mt-1">
                        4-aprel, 2020
                    </span>
                </div>

                <div class="card-text mb-6">
                    <p class="title-1 color-dark mb-0">
                        Tashkent, O’zbekistan, 9 iyul, linux, ip adress
                    </p>

                    <span class="card-text-date d-block text-right mt-1">
                        4-aprel, 2020
                    </span>
                </div>

                <div class="card-text mb-6">
                    <p class="title-1 color-dark mb-0">
                        Tashkent, O’zbekistan, 9 iyul, linux, ip adress
                    </p>

                    <span class="card-text-date d-block text-right mt-1">
                        4-aprel, 2020
                    </span>
                </div>

                <div class="card-text mb-6" style="margin-bottom: 50px !important">
                    <p class="title-1 color-dark mb-0">
                        Tashkent, O’zbekistan, 9 iyul, linux, ip adress
                    </p>

                    <span class="card-text-date d-block text-right mt-1">
                        4-aprel, 2020
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "PaymentHistory"
}
</script>

<style scoped>
.payment-history-view{
    height: 100%;
    padding-bottom: 45px
}
@media (max-width: 769px) {
    .payment-history-view{
        height: auto;
    }
}
</style>