<template>
  <div class="tests-view mt-5">
    <div class="app-table-wrap" >
      <table class="app-table w-100 lider-table">
        <thead class="app-table-thead">
          <tr>
            <th>O’rin</th>
            <th class="text-left">Familiya Ismi Sharfi</th>
            <th>Yo’nalish</th>
            <th>Ball</th>
          </tr>
        </thead>
        <tbody class="app-table-tbody">
          <tr>
            <td style="width: 80px">
              <img src="@/assets/img/icons/icon-29.svg" alt />
            </td>
            <td class="text-left">Ibrohimov Humoyun Nurmat o’g’li</td>
            <td>Matematika</td>
            <td>453</td>
          </tr>

          <tr>
            <td style="width: 80px">
              <img src="@/assets/img/icons/icon-30.svg" alt />
            </td>
            <td class="text-left">Eldor Qayumov Jahongir o’g’li</td>
            <td>Kimyo</td>
            <td>321</td>
          </tr>

          <tr>
            <td style="width: 80px">
              <img src="@/assets/img/icons/icon-31.svg" alt />
            </td>
            <td class="text-left">Dilshod Jo’rayev Temur o’g’li</td>
            <td>Tarix</td>
            <td>221</td>
          </tr>

          <tr>
            <td style="width: 80px">
              <div class="table-raiting-circle d-flex align-center justify-center">4</div>
            </td>
            <td class="text-left">Bekmurod To’xtayev Ulug’bek o’g’li</td>
            <td>Fzika</td>
            <td>141</td>
          </tr>

          <tr>
            <td style="width: 80px">
              <div class="table-raiting-circle d-flex align-center justify-center">5</div>
            </td>
            <td class="text-left">Davron Keldiyev Farxod o’g’li</td>
            <td>English</td>
            <td>131</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
  @media screen and (min-width: 651px) {
    .tests-view {
      max-height: calc(100% - 70px);
      padding-bottom: 20px;
      overflow: auto;
    }
  }
</style>