<template>
  <div class="tests-view mt-5">
    <div class="app-table-wrap">
      <table class="app-table w-100">
        <thead class="app-table-thead">
          <tr>
            <th></th>
            <th>Yo’nalish</th>
            <th>Turi</th>
            <th>Sana</th>
            <th>Davomiyligi</th>
            <th>Narxi</th>
            <th>
              <router-link
                :to="{ name: 'liderBoard' }"
                class="d-block text-decoration-none"
              >
                <v-btn
                  depressed
                  dark
                  class="reset-text-case font-400 letter-spacing-1"
                  color="var(--pink)"
                  >Reyting doska</v-btn
                >
              </router-link>
            </th>
          </tr>
        </thead>
        <tbody class="app-table-tbody">
          <tr>
            <td style="width: 80px">
              <img src="@/assets/img/icons/icon-27.svg" alt />
            </td>
            <td>Matematika</td>
            <td>Ochiq</td>
            <td>12 sentabr 08:00</td>
            <td>00:08:00</td>
            <td>Bepul</td>
            <td>
              <router-link
                :to="{ name: 'course-start' }"
                class="d-block text-decoration-none"
              >
                <v-btn
                  depressed
                  dark
                  class="reset-text-case font-400 letter-spacing-1"
                  color="var(--green)"
                  >Boshlash</v-btn
                >
              </router-link>
            </td>
          </tr>

          <tr>
            <td style="width: 80px">
              <img src="@/assets/img/icons/icon-27.svg" alt />
            </td>
            <td>Matematika</td>
            <td>Ochiq</td>
            <td>12 sentabr 08:00</td>
            <td>00:08:00</td>
            <td>Bepul</td>
            <td>
              <router-link
                :to="{ name: 'course-start' }"
                class="d-block text-decoration-none"
              >
                <v-btn
                  depressed
                  dark
                  class="reset-text-case font-400 letter-spacing-1"
                  color="var(--green)"
                  >Boshlash</v-btn
                >
              </router-link>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mobile-card-wrap">
      <router-link
              :to="{ name: 'liderBoard' }"
              class="d-block text-decoration-none d-flex justify-center"
      >
        <v-btn
                depressed
                dark
                class="reset-text-case font-400 letter-spacing-1 mb-3 rating-btn"
                color="var(--pink)"
        >Reyting doska</v-btn
        >
      </router-link>
      <v-card
              class="mx-auto"
              max-width="100%"
      >
        <v-card-text>
          <v-row
                  no-gutters
          >
            <v-col cols="1">
              <img class="mobile-icon" src="@/assets/img/icons/icon-network.svg" alt />
            </v-col>
            <v-col cols="5">
              <div class="ma-1">
                <p>Matematika</p>
              </div>
            </v-col>
            <v-col cols="1">
              <img class="mobile-icon" src="@/assets/img/icons/icon-clock.svg" alt />
            </v-col>
            <v-col cols="5">
              <div class="ma-1">
              <p>00:08:00</p>
              </div>
            </v-col>
          </v-row>
          <v-row
                  no-gutters
          >
            <v-col cols="1">
              <img class="mobile-icon" src="@/assets/img/icons/icon-27.svg" alt />
            </v-col>
            <v-col cols="5">
              <div class="ma-1">
              <p>ochiq</p>
              </div>
            </v-col>
            <v-col cols="1">
              <img class="mobile-icon" src="@/assets/img/icons/icon-price-tag.svg" alt />
            </v-col>
            <v-col cols="5">
              <div class="ma-1">
              <p>bepul</p>
              </div>
            </v-col>
          </v-row>
          <v-row
                  no-gutters
          >
            <v-col cols="1">
              <img class="mobile-icon" src="@/assets/img/icons/icon-calendar-check.svg" alt />
            </v-col>
            <v-col cols="5">
              <div class="ma-1">
              <p>12 sentabr
                08:00</p>
              </div>
            </v-col>
            <v-col cols="6">
              <div class="ma-1">
              <router-link
                      :to="{ name: 'course-start' }"
                      class="d-block text-decoration-none"
              >
                <v-btn
                        height="30"
                        depressed
                        dark
                        class="reset-text-case font-400 letter-spacing-1"
                        color="var(--green)"
                >Boshlash</v-btn
                >
              </router-link>
              </div>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
      <v-card
              class="mx-auto"
              max-width="100%"
      >
        <v-card-text>
          <v-row
                  no-gutters
          >
            <v-col cols="1">
              <img class="mobile-icon" src="@/assets/img/icons/icon-network.svg" alt />
            </v-col>
            <v-col cols="5">
              <div class="ma-1">
                <p>Matematika</p>
              </div>
            </v-col>
            <v-col cols="1">
              <img class="mobile-icon" src="@/assets/img/icons/icon-clock.svg" alt />
            </v-col>
            <v-col cols="5">
              <div class="ma-1">
              <p>00:08:00</p>
              </div>
            </v-col>
          </v-row>
          <v-row
                  no-gutters
          >
            <v-col cols="1">
              <img class="mobile-icon" src="@/assets/img/icons/icon-27.svg" alt />
            </v-col>
            <v-col cols="5">
              <div class="ma-1">
              <p>ochiq</p>
              </div>
            </v-col>
            <v-col cols="1">
              <img class="mobile-icon" src="@/assets/img/icons/icon-price-tag.svg" alt />
            </v-col>
            <v-col cols="5">
              <div class="ma-1">
              <p>bepul</p>
              </div>
            </v-col>
          </v-row>
          <v-row
                  no-gutters
          >
            <v-col cols="1">
              <img class="mobile-icon" src="@/assets/img/icons/icon-calendar-check.svg" alt />
            </v-col>
            <v-col cols="5">
              <div class="ma-1">
              <p>12 sentabr
                08:00</p>
              </div>
            </v-col>
            <v-col cols="6">
              <div class="ma-1">
              <router-link
                      :to="{ name: 'course-start' }"
                      class="d-block text-decoration-none"
              >
                <v-btn
                        height="30"
                        depressed
                        dark
                        class="reset-text-case font-400 letter-spacing-1"
                        color="var(--green)"
                >Boshlash</v-btn
                >
              </router-link>
              </div>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">

  .mx-auto{
    margin-bottom: 10px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(170, 170, 170, 0.25) !important;
    p{
      color: black !important;
    }
  }

  .mobile-icon{
    max-width: 20px;
  }

  .rating-btn{
    width: 100%;
    max-width: 400px;
  }

  @media screen and (max-width: 650px) {
    .app-table-wrap{
      display: none;
    }
  }
  @media screen and (min-width: 651px) {
    .tests-view {
      max-height: calc(100% - 70px);
      padding-bottom: 20px;
      overflow: auto;
    }
    .mobile-card-wrap{
      display: none;
    }
  }
</style>