
.font-700 {
    font-family: var(--bold);
}

.font-600 {
    font-family: var(--semiBold);
}

.font-500 {
    font-family: var(--medium);
}

.font-400 {
    font-family: var(--regular);
}

.font-300 {
    font-family: var(--light);
}

.color-green {
    color: var(--green);
}

.color-dark-green {
    color: var(--dark-green) !important;
}

.color-grey {
    color: var(--grey);
}

.color-pink {
    color: var(--pink) !important;
}

.color-red {
    color: var(--red) !important;
}

.color-dark {
    color: var(--dark) !important;
}

.dark-full {
    color: #000000 !important;
}

.text-white {
    color: #fff !important;
}

.reset-text-case {
    text-transform: initial !important;
}

.letter-spacing-1 {
    letter-spacing: .5px;
}

.p-relative {
    position: relative;
}

.v-btn--contained:active {
    box-shadow: none !important;
}

.p-absolute {
    position: absolute;
}

.p-fixed {
    position: fixed;
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

.pointer {
    cursor: pointer;
}

.f-fill {
    flex: 1;
}

.title-1 {
    font-family: var(--semiBold);
    color: var(--grey);
    font-size: 20px;
    line-height: 26px;
}

.para-1 {
    font-family: var(--semiBold);
    font-size: 14px;
    line-height: 18px;
    color: var(--dark);
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #C4C4C4;
    border-radius: 14px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a5a5a5;
}