
@import './fonts.css';
@import './helper-classes.css';
@import './rebuild.css';

*,*::after,*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --light: "K2D-Light";
    --regular: "K2D-Regular";
    --medium: "K2D-Medium";
    --semiBold: "K2D-SemiBold";
    --bold: "K2D-Bold";
    --dark: #3f3f3f;
    --green: #A5D9A1;
    --dark-green: #1F9389;
    --hoverLink: #1F9389;
    --grey: #6C8A9B;
    --pink: #FFA097;
    --red: #FF6151;
    --border-color: #E3E3E3;
}

html, body {
    height: 100%;
    width: 100%;
    margin:0;
}

body {
    font-size: 15px;
    font-family: var(--regular);
}

.auth-header {
    min-height: 100px;
    background: #fff;
    box-shadow: 0 4px 20px rgba(166, 166, 166, 0.25);
}

.header {
    z-index: 99;
}

.app-logo span {
    font-family: "Roboto";
    font-size: 41px;
    font-weight: 300;
    color: var(--grey);
}

.header-lang {
    right: 30px;
}

.lang-dropdown {
    min-width: 142px;
}

.dropdown-items span {
    font-size: 14px;
    line-height: 18px;
    color: var(--dark);
}

.layout-route {
    min-height: 100vh;
    padding-top: 145px;
}

.app-login {
    max-width: 600px;
    margin: 0 auto 30px;
    border: 1px solid var(--border-color);
}

.login-tabs .tab-items {
    width: 50%;
    background: rgba(108, 138, 155, 0.06);
    color: #000 !important;
}

.tab-items.v-tab--active {
    background: #fff;
}

.v-tab.v-tab--active{
    margin-bottom: -1px;
    background: #fff;
}

.tab-title {
    font-size: 39px;
    line-height: 39px;
}

.tab-content {
    padding: 0 calc(12px + 2.6041666666666665vw) calc(6px + 1.0416666666666667vw) calc(12px + 2.6041666666666665vw);
}

.ophan-button-1 button {
    font-size: 30px !important;
    height: 62px !important;
    line-height: 39px !important;
    letter-spacing: 1px !important;
    border-radius: 9px !important;
}

.forget-password {
    font-size: 21px;
    line-height: 27px;
}

.error-text {
    font-size: 20px;
    line-height: 26px;
}

.condition-text {
    font-size: 21px;
    line-height: 27px;
}

.app-navigation,
.app-drawer {
    min-height: 100vh;
}

.app-drawer,
.header {
    position: sticky;
    top: 0;
}

.app-main {
    background: #F7F9FC;
    flex: 1;
    padding-left: 300px;
}

.app-drawer .v-navigation-drawer__content {
    height: 100vh;
    padding: 12px 0;
    display: flex;
    flex-direction: column;
}

.drawer-content {
    flex: 1;
}

.drawer-logo {
    margin: 30px;
}

.router-link-active .drawer-anchor {
    background: var(--pink) !important;
}

.router-link-active .drawer-anchor .v-list-item__title {
    color: #fff;
}

.drawer-anchor.v-list-item {
    margin: 17px 15px !important;
    border-radius: 10px !important;
    padding: 8px 20px;
}

.drawer-anchor.v-list-item--link:before {
    border-radius: 10px;
}

.app-header {
    padding: 35px 20px 10px 35px;
    background: #F7F9FC;
}

.header-search {
    max-width: 572px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 31px;
}

.header-search input {
    outline: none;
    padding: 10px 20px;
    z-index: 2;
}

.header-search img {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
}

.header-search span {
    left: 0;
    max-width: 362px;
    top: 0;
    z-index: 1;
    color: #B2B2B2;
    font-weight: 300;
    font-size: 22px;
    line-height: 20.64px;
}

.notification-dropdown {
    min-width: 60px;
    height: 60px;
}

.header-tools {
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(221, 221, 221, 0.25);
    border-radius: 10px;
}

.auth-dropdown {
    min-width: 83px;
    width: 100%;
    height: 60px;
}

.app-route {
    padding: 0 20px 100px 35px;
    flex: 1
}

.card-basic {
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 3px;
    padding: 13px 19px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chart-card {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px 10px 15px;
}

.notification-dropdown-list {
    min-width: 426px;
}

.alert-title {
    font-size: 12px;
    line-height: 16px;
}

.alert--text p {
    font-size: 14px;
    line-height: 18px;
    color: var(--dark);
    margin: 0 !important;
}

.alert-date {
    justify-content: flex-end;
}

.alert-date span {
    font-size: 12px;
}

.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) .drawer-anchor:hover {
    color: transparent !important;
}

.dropdown--list:hover {
    background: #eee !important;
}

.user-auth-name {
    font-size: 22px;
    line-height: 29px;
}

.mobile-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.56);
    opacity: 0;
    visibility: hidden;
    transition: all 400ms;
}
.mobile-layer.active,
.mobile-layer.active + .close-cicrle {
    opacity: 1;
    visibility: visible;
}

.close-cicrle {
    width: 63px;
    height: 63px;
    z-index: 100;
    border-radius: 100%;
    background: #fff;
    opacity: 0;
    left: 335px;
    top: 20px;
    visibility: hidden;
    transition: all 400ms;
}

.carousel-cell {
    width: 360px;
    transition: all 300ms;
}

.chart-carouse-cell {
    width: 650px;
    transition: all 300ms;
    margin-right: 50px;
}

.account-container {
    background: #FFFFFF;
    box-shadow: 0 4px 23px rgba(221, 221, 221, 0.25);
    border-radius: 10px;
    margin: 30px auto 0;
    overflow: hidden;
    position: relative;
}

.account-sidebar {
    padding: 55px 0 30px 23px;
    background: var(--grey);
    width: 248px;
}

.account-sidebar-items {
    padding: 16px;
    color: #FFFFFF !important;
    font-family: var(--semiBold);
    font-size: 18px;
    line-height: 23px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: background 350ms, color 350ms;
}

.account-sidebar-items.router-link-active {
    background: #fff;
    color: var(--grey) !important;
}

.account-view {
    padding: 17px calc(15px +  2.4363vw) calc(11px + 1.082vw) calc(15px + 2.707vw);
    flex: 1;
    overflow-y: auto;
}

.account-view::-webkit-scrollbar-track {
    background: #fff!important;
}
.account-view::-webkit-scrollbar {
    width: 22px !important;
}
.account-view::-webkit-scrollbar-thumb {
    border: solid 7px #ffffff !important ;
}

.upload-wrap {
    background: #FFBAB9;
    border-radius: 5px;
    height: 48px;
    padding: 6px 21px;
}

.upload-wrap:hover {
    cursor: pointer;
}

.v-text-field__slot:hover {
    cursor: pointer;
}

.v-input__slot:hover {
    cursor: pointer;
}

.form-label__text {
    font-size: 17px;
    line-height: 23px;
}

.form-label input {
    min-height: 54px;
    border: 2px solid var(--grey);
    border-radius: 6px;
    padding: 0 16px;
    font-size: 20px;
}

.account-buttons button {
    height: 53px !important;
    box-shadow: none !important;
}

.button-default {
    background: #F3F3F3 !important;
}

.button-default .v-btn__content {
    color: #AAAAAA;
}

.account-buttons .v-btn__content {
    font-size: 22px;
    line-height: 31px;
    font-family: var(--regular);
    letter-spacing: .25px;
}

.card-text {
    padding: 16px 32px;
    border: 2px solid var(--grey);
    border-radius: 6px;
}

.card-text-wrap {
    max-height: 510px;
    padding-right: 20px;
    /*overflow-y: auto;*/
}

.card-text-date {
    font-size: 13px;
    line-height: 16px;
}

.language-button {
    height: 62px !important;
    max-width: 362px !important;
    width: 100% !important;
    background: #FFFFFF !important;
    border: 1px solid #F4F4F4 !important;
    box-shadow: 0 4px 4px rgba(204, 204, 204, 0.25) !important;
    border-radius: 10px !important;
}

.language-button .v-input__slot {
    box-shadow: none !important;
    margin: 0 !important;
    height: 62px !important;
}

.language-button.v-input .v-label {
    height: 30px !important;
}

.language-button .v-select__selection,
.language-button .v-label {
    font-size: 22px !important;
    line-height: 29px !important;
    color: #939393 !important;
    width: 100%;
    text-align: center;
}

.v-application .language-button .v-icon.v-icon {
    font-size: 50px;
    color: #B2B2B2 !important;
    caret-color: #B2B2B2 !important;
}

.change-system-language-view,
.change-system-language-view .account-view-body {
    height: 100%;
}

.change-system-language-view .account-view-body {
    display: flex;
    flex-direction: column;
}

.system-language-button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-label-number__text,
.v-btn__content span {
    font-size: 24px;
    line-height: 31px;
}

.v-btn__content span {
    font-family: var(--semiBold);
    color: #939393;
}

.language-dropdown-icon {
    right: 5px;
}

.form-label-number .v-text-field input {
    font-size: 22px;
    line-height: 31px;
    font-family: var(--medium);
    color: #9D9D9D !important;
}

 .form-label-number .v-input__slot {
    background: #FFFFFF !important;
    border: 1px solid #F4F4F4 !important;
    box-shadow: 0 4px 4px rgba(170, 170, 170, 0.25) !important;
    border-radius: 11px !important;
    height: 65px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.error-text-2 {
    font-family: var(--regular) !important;
}

.app-badge {
    min-width: 38px;
    height: 30px;
    box-shadow: 0 4px 4px rgba(221, 221, 221, 0.25);
    border-radius: 5px;
    font-family: var(--medium);
    color: #fff;
}

.app-badge__success {
    background: var(--green);
}

.chat-wrap {
    padding-bottom: 0px;
    padding-top: 16px;
}

.chat-area {
    background: #fff;
    box-shadow: 0 4px 4px rgba(221, 221, 221, 0.25);
    border-radius: 10px;
    display: flex;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.chat-aside {
    width: 300px;
    border-right: 1px solid #E0E0E0;
}

.chat-aside-header {
    height: 60px;
    border-bottom: 1px solid #E0E0E0;
}

.chat-aside-header p {
    font-size: 22px;
    line-height: 29px;
}

.contact-item-avatar img {
    width: 40px;
    height: 40px;
    display: block;
}

.contact-items {
    padding: 10px 14px;
}

.contact-items:hover {
    background: #F9F9F9;
}

.contact-item-meta {
    flex: 1;
    color: #000000;
}

.contact-item-meta h1 {
    font-size: 18px;
    line-height: 23px;
    font-family: var(--regular);
}

.contact-item-meta span {
    font-size: 11px;
    line-height: 14px;
    display: block;
    margin-top: 4px;
}

.contact-message-count {
    width: 23px;
    height: 23px;
    background: #ADCBF9;
    border-radius: 24px;
    font-size: 13px;
}

.help-view-title {
    font-size: 24px;
    line-height: 31px;
}

.help-link-wrap {
    max-width: 700px;
}

.help-view-links {
    padding: 25px;
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    box-shadow: 0px 4px 4px rgba(170, 170, 170, 0.25);
    border-radius: 10px;
}

.help-view-links:not(:last-child) {
    margin-bottom: 25px;
}

.help-view-links span,
.expansion--header p,
.expansion--body p {
    font-size: 22px;
    line-height: 29px;
    color: #000;
}

.expansion--body {
    background: #FAFAFA;
}

.expansion-panel-wrap .v-expansion-panel {
    margin-bottom: 15px;
    box-shadow: 0px 4px 4px rgba(170, 170, 170, 0.3);
    border-radius: 10px !important;
}

.v-expansion-panel::before {
    box-shadow: none !important;
}

.expansion-panel-wrap .v-expansion-panel-content__wrap {
    padding: 0;
    overflow: hidden;
}

.expansion--body {
    padding: 15px 25px;
    background: #FAFAFA;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.expansion--body p {
    margin: 0 !important;
}

.v-application--is-ltr .expansion-panel-wrap .v-expansion-panel-header {
    height: 90px;
}

.expansion-panel-wrap .v-expansion-panel:not(:first-child)::after {
    display: none;
}

.circle-50 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.circle-50 span {
    font-size: 22px;
    line-height: 29px;
    font-family: var(--semiBold);
}

.circle-50__pink {
    background: var(--pink);
    color: #fff
}

.circle-50__green {
    background: var(--green);
    color: #fff;
}

.v-expansion-panel.v-item--active {
    margin: 0 !important;
}

.course-progress {
    height: 37px
}

.course-progress-track {
    background: #F2F2F2;
}

.progress-track {
    height: 100%;
    background: #83D2B7;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.courses-card {
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    box-shadow: 0 4px 10px rgba(170, 170, 170, 0.3);
    border-radius: 10px;
    overflow: hidden;
    padding: 12px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.course-progress {
    margin-top: auto;
}

.course-card-img {
    height: 156px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}


.course-progress-track {
    flex: 1;
}

.course-progress-button {
    min-width: 122px;
}

.progress-text {
    font-size: 15px;
    line-height: 21px;
}

.courses-card p {
    height: 50px;
    overflow: hidden;
}

.courses-card p,
.flickity-card p {
    font-family: var(--semiBold);
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin-top: 8px;
    margin-bottom: 0px !important;
}

.read-more-anchor {
    font-size: 20px;
    line-height: 26px;
}

.flickity-card {
    width: 240px;
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    box-shadow: 0 4px 10px rgba(170, 170, 170, 0.3);
    border-radius: 10px;
    padding: 8px;
    margin: 10px 0;
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
}

.flickity-card-img {
    height: 105px;
}

.subject-owner {
    font-size: 12px;
    margin-bottom: auto;
}

.subject-cost p {
    color: #b1b1b1;
}

.subject-votes-number {
    font-size: 16px;
    font-family: var(--regular);
    color: #c4c4c4;
}

.subject-votes-count {
    font-size: 12px;
    color: #c4c4c4;
}

.subject-flickity .flickity-viewport {
    height: 285px !important;
}

.mobile-go-back {
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: none;
    margin-bottom: 2rem;
}

.mobile-go-back i {
    font-size: 1.5rem;
    color: var(--dark);
}

.user-avatar {
    width: 135px;
}

.user-photo-upload {
    flex: 1
}

.flickity-card-img img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.courses-card-wrap {
    margin-left: -15px;
    margin-right: -15px;
}

.courses-card-item {
    width: calc(16.666666% - 30px);
    margin: 0 15px;
}

.module-course-items {
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    box-shadow: 0px 4px 10px rgba(170, 170, 170, 0.3);
    border-radius: 10px;
    padding: 12px 10px;
    width: calc(25% - 30px);
    margin: 0 15px 15px 15px;
}

.module-course-header > div:last-child,
.module-course-meta > div:last-child {
    flex: 1;
}

.module-course-items .course-progress-track {
    height: 30px;
}

.module-course-wrap {
    margin-left: -15px;
    margin-right: -15px;
}

.course-info-meta h1 {
    font-size: 30px;
    line-height: 40px;
}

.course-info-img {
    min-height: 325px;
    overflow: hidden;
    max-width: 440px;
    width: 100%;
    border: 8px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(170, 170, 170, 0.25));
    border-radius: 15px;
}

.course-info-meta {
    flex: 1
}

.course-info-owner > * {
    font-size: 24px;
    line-height: 32px;
}

.course-stars button {
    padding: 0 !important;
}

.course-info-raiting > * {
    font-size: 18px;
    line-height: 24px;
}

.course-info-raiting + p {
    font-size: 16px;
    line-height: 18px;
}

.course-more-button button {
    height: 72px !important;
    width: 224px;
    box-shadow: 0px 4px 4px rgba(170, 170, 170, 0.25);
    border-radius: 10px;
    text-transform: initial;
    font-size: 22px !important;
    line-height: 29px;
    letter-spacing: 0.5px;
    font-family: var(--bold);
}

.course-info-cost p {
    font-size: 27px;
    line-height: 26px;
}

.course-info-tabs {
    max-width: 1000px;
}

.course-info-tabs .v-slide-group__wrapper {
    max-width: 584px;
    background: #fff;
    box-shadow: -2px -3px 4px rgba(221, 221, 221, 0.25);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.course-info-tabs .v-tabs-bar {
    height: 60px;
}

.course-info-tabs .v-tab:hover{
    background: #fcfcfc;
}

body .theme--light.v-tabs .v-tab--active:hover::before, body .theme--light.v-tabs .v-tab--active::before, body .v-tab:before{
    content: none;
}

.course-tab-content {
    padding: 45px;
    box-shadow: 0px 4px 4px rgba(170, 170, 170, 0.25);
}

.course-info-tabs .v-tab:not(:last-child) {
    border-right: 1px solid #DFDFDF;
}

.course-info-tabs .v-slide-group__content {
    border-bottom: 1px solid #dfdfdf;
}

.course-tab-box {
    background: #FCFCFC;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 25px;
}

.tab-check-items img {
    width: 22.625px;
    height: 32.5px;
}

.course-tab-box > p,
.course-need > p {
    font-size: 32px;
    line-height: 42px;
    font-family: var(--medium);
}

.tab-check-items {
    width: 50%;
}

.course-need > p {
    margin-top: 40px;
}

.course-need ul li p {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px !important;
}

.app-table {
    border-collapse: separate;
    border-spacing: 0 1.25rem;
}

.app-table-thead th {
    color: var(--grey);
    font-size: 15px;
    font-family: var(--semiBold);
}

.app-table-tbody tr {
    border-radius: 10px;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(170, 170, 170, 0.25);
}

.app-table-tbody tr td {
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
}

.app-table-tbody tr td:first-child {
    background: transparent;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    text-align: left;
}

.app-table-tbody tr td:last-child {
    background: transparent;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table-raiting-circle {
    font-size: 22px;
    line-height: 29px;
    width: 50px;
    height: 50px;
    background: var(--green);
    border-radius: 100%;
    color: #fff;
}

.app-table-tbody tr td:first-child a {
    width: 30px;
}

.payment-view {
    max-width: 700px;
    padding: 34px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(170, 170, 170, 0.25);
    border-radius: 10px;
    margin: 105px auto 0;
}

.payment-view p {
    font-size: 40px;
    line-height: 52px;
    color: var(--grey);
    font-family: var(--bold);
}

.payment-view-form p {
    font-size: 22px;
    line-height: 29px;
    font-family: var(--bold);
}

.payment-card-number span {
    font-size: 18px;
    line-height: 20px;
}

.payment-card-input {
    height: 65px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    outline: none;
    padding: 20px;
    font-size: 25px;
    font-family: var(--semiBold);
    color: var(--grey);
    display: block;
    width: 100%;
    letter-spacing: 2px;
}

.payment-card-number {
    flex: 1;
}

.payment-card-code {
    width: 180px;
}

.payment-card-code span {
    font-size: 16px;
    line-height: 18px;
}

.payment-view-form .v-input .v-label {
    font-family: var(--bold);
    color: #000;
    font-size: 18px;
}

.payment-button button {
    border-radius: 5px;
    max-width: 356px;
    width: 100%;
    height: 80px !important;
    box-shadow: none;
    font-size: 30px !important;
    line-height: 39px !important;
    letter-spacing: 0;
    font-family: var(--semiBold);
}

.confirmation-field input {
    max-width: 360px;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    letter-spacing: 20px;
}

.success-payment-view span {
    font-size: 22px;
    line-height: 25px;
}

.success-payment-text {
    font-size: 32px;
    line-height: 42px;
}

.has-coupon span {
    font-size: 19px;
    margin-bottom: 4px;
}

.coupon-field {
    max-width: 450px;
    width: 100%;
    margin: 40px auto 80px;
}

.payment-error-text {
    color: var(--red);
    margin-bottom: 20px;
    display: block;
    font-size: 16px;
}

.course-start-box {
    max-width: 960px;
}

.course-start-header p {
    font-size: 26px;
    line-height: 34px;
    color: var(--grey);
    font-family: var(--bold);
}

.course-start-progress {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(221, 221, 221, 0.25);
    border-radius: 10px;
    height: 10px;
    overflow: hidden;
}

.course-start-progress-track {
    height: 100%;
    border-radius: 120px;
    background: var(--grey);
}

.course-start-items {
    width: 28px;
    height: 30px;
    margin: 9px;
    font-size: 16px;
    line-height: 21px;
    font-family: var(--semiBold);
    background: var(--pink);
    border-radius: 2px;
}

.course-item-number {
    background: #fff;
    box-shadow: 0px 4px 4px rgba(221, 221, 221, 0.25);
    border-radius: 5px;
    padding: 5px 10px;
}

.course-start-content {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(221, 221, 221, 0.25);
    border-radius: 5px;
    padding: 25px 20px;
}

.course-start-content h1 {
    font-size: 22px;
    line-height: 29px;
}

.course-answer-items {
    font-size: 20px;
    color: #3f3f3f;
    background: #F7F7F7;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px 25px;
    overflow: hidden;
    cursor: pointer;
}

.course-answer-items.active {
    background: #DAF4D8;
}

.course-next-button button {
    box-shadow: 0px 4px 4px rgba(170, 170, 170, 0.25);
    border-radius: 5px;
    width: 200px;
    height: 50px !important;
    font-size: 22px !important;
    line-height: 29px;
    letter-spacing: 0;
}

.course-answer-items input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.course-answer-correct {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.course-answer-items.active {
    background: #DAF4D8;
}

.course-answer-items.is-error {
    background: #FFD4D0;
}

.test-result-box {
    max-width: 960px;
}

.test-result-content {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 36px 50px;
}

.result-progress-text {
    font-size: 26px;
    line-height: 34px;
    font-family: var(--bold);
}

.v-progress-circular>svg {
    stroke-linecap: round;
    border: 1px solid #ddd;
    border-radius: 100%;
    padding: 3px;
}

.v-progress-circular__underlay {
    stroke: rgb(0 0 0 / 0%);
}

.v-progress-circular__info {
    width: 102px;
    height: 102px;
    border-radius: 100%;
    border: 1px solid #ddd;
}

.result-cirle {
    width: 225px;
}

.test-result-text {
    flex: 1
}

.teset-result-text-items p {
    font-size: 23px;
    line-height: 30px;
    color: var(--grey);
    font-family: var(--bold);
}

.teset-result-text-items p:first-child {
    width: 325px;
}

.course-layout-route {
    min-height: 100vh;
}

.course-header {
    display: flex;
    height: 80px;
    padding: 18px 40px;
    justify-content: space-between;
    align-items: center;
    background: var(--grey);
}

.header-logo-2 span {
    font-size: 38px;
    line-height: 45px;
    font-family: 'Roboto';
    font-weight: 300;
    color: #fff;
}

.course-haeder-dropdown button {
    box-shadow: none !important;
    border-radius: 100% !important;
    width: 63px !important;
    padding: 0 !important;
    min-width: 63px !important;
    height: 63px !important;
}

.course-haeder-dropdown .v-btn__content {
    flex-direction: column;
}

.course-haeder-dropdown .v-btn__content span {
    width: 8px;
    height: 8px;
    display: block;
    background: #fff;
    border-radius: 100%;
    margin-bottom: 5px;
}

.course-haeder-dropdown .v-btn__content span:last-child {
    margin-bottom: 0;
}

.watch-course-view {
    flex: 1
}


.course-content-left {
    flex: 1
}

.course-content-aside {
    width: 400px;
    background: #EEEEEE;
    overflow: auto;
}

.mobile-course-wrap {
    background: #EEEEEE;
}

.course-item-count {
    width: 39px;
    height: 39px;
    border-radius: 100%;
    background: #fff;
}

.course-item-count p {
    font-size: 20px;
    font-family: var(--medium);
}

.course-content-items {
    padding: 18px;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    transition: background 350ms;
}

.course-content-items:hover {
    background: #F7F7F7;
}

.course-content-items span {
    font-size: 16px;
    line-height: 21px;
    font-family: var(--bold);
    flex: 1
}

.course-expand-wrap .v-expansion-panel::before {
    box-shadow: none
}

.course-expand-content {
    padding-top: 33.33333%;
    position: relative;
}

.course-ration {
    position: absolute;
    top: 0;
    width: 100%;
    /* height: 100%; */
}

.course-content-left .v-expansion-panel-content__wrap,
.course-content-left .v-expansion-panel-content__wrap .container {
    padding: 0 !important;
}

.video-js {
    width: 100%;
}

body .video-js .vjs-big-play-button {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tab-expand-tools {
    width: 160px;
}

.expand-tools-item {
    height: 48px;
    display: flex;
    align-items: center;
    width: 50px;
    justify-content: center;
}

.expand-tools-item img {
    cursor: pointer;
}

.expand-tools-wrap .v-expansion-panel-header {
    width: 50px !important;
}

.v-expansion-panel-header--active .collapse-expander img {
    transform: rotate(180deg);
}

.tab-expand-header {
    background: #F7F7F7;
}

.tab-expand-header .v-tab--active {
    background: #F1F1F1;
}

.expand-tab-items {
    padding: 22px 33px
}

.expand-tab-items p {
    font-size: 22px;
    line-height: 26px;
    font-family: var(--regular);
    margin-bottom: 0 !important;
}

.course-dropdown-items {
    cursor: pointer;
}

.v-menu__content .v-list-item:hover {
    background: #F7F7F7;
}

/* .v-menu__content {
    top: 450px !important; 
} */

.course-dropdown-items img {
    width: 25px;
}

.course-dropdown-items span {
    font-size: 20px;
}

.share-modal-wrap {
    background: #fff;
    padding: 20px 50px;
}

.share-modal-wrap h1 {
    font-size: 26px;
    line-height: 36px;
}

.share-modal-input .share-button {
    background: var(--grey);
    color: #fff;
    font-family: var(--semiBold);
    border-radius: 5px;
    outline: none;
    padding: 13px 30px;
    font-size: 22px;
}

.share-modal-input input {
    max-width: 375px;
    width: 100%;
    height: 58px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    margin-right: 30px;
    padding: 15px;
}

.remove-icon {
    right: 25px;
    cursor: pointer;
}

.v-overlay {
    background: rgba(0, 0, 0, 0.15);
}

.course-ration-content,
.course-ration-content .v-responsive,
.course-ration-content .video-js {
    height: 100% !important;
}

.course-ration-content .video-player{
    height: 460px !important;
}

.tab-expand-header .v-tab {
    text-transform: initial !important;
    letter-spacing: 0;
}

.mobile-download-icon {
    display: none;
}

.app-drawer .v-list-item__icon i {
    display: block;
    font-size: 24px;
    color: #7E7E7E;
}

.app-drawer .v-list-item__icon i::before {
    line-height: 1;
    display: block;
}

.router-link-active .drawer-anchor .v-list-item__icon i {
    color: #fff;
}

.brand-text {
    font-family: "Roboto";
    font-size: 38px !important;
    font-weight: 300;
    color: var(--grey);
}

.mobile-tab {
    display: none !important;
}

.search-result-header > p {
    font-size: 24px;
    line-height: 31px;
    font-family: var(--medium);
}

.course-sort-wrap {
    max-width: 230px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(221, 221, 221, 0.25);
    border-radius: 10px;
    padding: 0 20px;
    height: 60px;
    display: flex;
    align-items: center;
}

.course-sort-wrap  .theme--light.v-text-field > .v-input__control > .v-input__slot:before,
.course-sort-wrap  .theme--light.v-text-field > .v-input__control > .v-input__slot:after {
    border-color: transparent !important;
    display: none !important;
}

.v-application--is-ltr .course-sort-wrap  .v-text-field .v-label {
    color: #B2B2B2;
    font-family: var(--medium);
}

.course-sort-wrap .v-input__icon i {
    font-size: 50px;
}

.course-sort-wrap .v-input__slot,
.course-sort-wrap .v-input {
    margin: 0 !important;
}

.search-result-items {
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    box-shadow: 0px 4px 4px rgba(221, 221, 221, 0.25);
    border-radius: 10px;
    padding: 15px 30px;
}

.search-block-rating {
    width: 190px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    padding: 10px 15px;
}

.search-block-text {
    width: calc(100% - 200px);
}

.search-block-text p {
    font-size: 22px;
    line-height: 29px;
}

.block-raiting-text {
    width: 40px;
}

.block-raiting-text span {
    color: #C4C4C4;
    font-size: 16px;
}

.block-raiting-stars span {
    font-size: 12px;
    color: #C4C4C4;
}

.block-raiting-stars span {
    margin-right: 2px !important;
}

.search-result-items:not(:last-child) {
    margin-bottom: 20px;
}

.search-result-crumbs {
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    box-shadow: 0px 4px 4px rgba(170, 170, 170, 0.25);
    border-radius: 10px;
}

.search-result-crumbs .v-breadcrumbs__item {
    font-size: 22px;
    line-height: 29px;
    color: #000000;
    font-family: var(--medium);
}

.search-result-crumbs .v-breadcrumbs__divider img {
    width: 8px;
    display: block;
    margin-top: 2px;
}

.notification-icon-wrap {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 11px;
}

.notification-icon-wrap i {
    font-size: 35px;
    color: var(--green);
}

.icon-dot-wrap {
    position: absolute;
    top: 2px;
    right: 3px;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background: #fff;
    padding: 2px;
}

.icon-dot-wrap .icon-dot {
    width: 100%;
    height: 100%;
    background: var(--green);
    border-radius: 100%;
}

.notification-count {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F8F8F8;
    border-radius: 4px;
    margin-right: 11px;
}

.notification-count span {
    font-size: 14px;
    font-family: var(--medium);
}

.has-notification i {
    color: var(--pink);
}

.has-notification .icon-dot-wrap .icon-dot {
    background: var(--pink)
}

.news-view-content {
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    box-shadow: 0px 4px 4px rgba(221, 221, 221, 0.25);
    border-radius: 10px;
    padding: 34px 20px;
}

.news-view-content > p {
    font-size: 24px;
    line-height: 31px;
    font-family: var(--medium);
}

.news-view-container {
    padding: 0  3.653vw;
    /*overflow-y: auto;*/
    /*max-height: 55vh;*/
}

.news-view-container p {
    font-size: 19px !important;
    line-height: 30px;
}

.log-out-modal {
    padding: 20px;
    background: #fff;
}

.log-out-modal p {
    font-size: 32px;
    line-height: 42px;
    font-family: var(--medium);
    text-align: center;
}

.log-out-buttons button {
    box-shadow: none;
    height: 75px !important;
    max-width: 170px;
    width: 100%;
}

.log-out-buttons .button-no {
    max-width: 253px;
}

.log-out-buttons button span {
    font-size: 24px;
    line-height: 31px;
    font-family: var(--semiBold);
}

.tab-expand-header .v-tab span {
    font-size: 20px;
    line-height: 25px;
    font-family: var(--medium);
}

.test-blog-item {
    max-width: 635px;
}

.test-blog-item:not(:last-child) {
    margin-bottom: 30px;
}

.test-blog-item h1 {
    font-size: 26px;
    line-height: 34px;
    font-family: var(--bold);
}

.test-blog-item-card {
    background: #F1F1F1;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    padding: 15px 20px;
}

.test-blog-item-card > span {
    font-size: 14px;
    line-height: 18px;
}

.test-blog-item-card > p {
    font-family: var(--medium);
    font-size: 16px;
    line-height: 21px;
}

.test-blog-button button {
    box-shadow: none;
    height: 50px !important;
    max-width: 188px;
    font-size: 18px !important;
    letter-spacing: 0;
    font-family: var(--medium);
}

.voice-wrap {
    width: 225px;
    padding: 8px 15px;
    background: #F9F9F9;
    border: 1px solid #6C8A9B;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(221, 221, 221, 0.25);
}

.voice-icon {
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(221, 221, 221, 0.25);
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.test-blog-tab .test-blog-item {
    max-width: 100%;
}

.test-blog-start .course-start-progress,
.test-blog-start .course-item-number {
    background: #E9E9E9;
}

.test-blog-start .course-start-items {
    background: #C4C4C4;
}

.test-blog-start .course-start-items.active {
    background: #7C7C7C;
}

.test-blog-start .course-start-content {
    background: #f9f9f9;
}

.test-blog-start .course-start-items.is-finished {
    background: var(--grey);
}

.test-blog-start .course-start-box,
.test-resul-finish .test-result-box {
    max-width: 100%;
}

.test-resul-finish .test-result-content {
    background: #F9F9F9;
    border-radius: 5px;
}

.contact-items.router-link-active {
    background: #f9f9f9;
}

.chat-message-area {
    width: calc(100% - 300px);
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.chat-user-id-view {
    width: 100%;
}

.chat-text-content {
    min-height: 70px;
}

.chat-id-view {
    height: 0;
}

.chat-text-content {
    background: #FCFCFC;
    padding: 10px 15px;
}

.chat-footer-items {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.chat-footer-items i {
    font-size: 30px;
    color: #DCDCDC;
}

.send-comment-wrap {
    border-radius: 100%;
    background: #DCDCDC;
}

.send-comment-wrap i {
    color: #fff;
}

.chat-text-field {
    flex: 1;
}

.chat-text-field textarea {
    display: block;
    outline: none !important;
    width: 100%;
    resize: none;
    min-height: 45px;
    position: relative;
    z-index: 2;
    padding-top: 4px;
    font-family: var(--regular);
    color: #333;
}

.chat-text-field span {
    position: absolute;
    top: 10px;
    left: 50px;
    transition: all 300ms;
    color: #CACACA;
    font-family: var(--regular);
    font-size: 16px;
}

.chat-text-field span.active {
    left: 75px;
    opacity: 0;
    visibility: hidden;
}

.chat-id-comment {
    max-width: 327px;
    border: 1px solid #BEBDBD;
    border-radius: 5px;
    padding: 10px;
}

.chat-id-comment-date {
    align-self: flex-end;
    width: 33px;
}

.contact-item-meta h1 {
    font-weight: 400;
}

.router-link-active .app-badge__success {
    background: #fff !important;
    color: #FFBDB7;
}

.chat-id-comment-date span {
    font-size: 12px;
    line-height: 13px;
    color: #828282;
}

.chat-meta-text {
    width: calc(100% - 50px);
}

.chat-meta-text p {
    font-size: 15px;
    line-height: 21px;
    font-family: var(--regular);
    margin-bottom: 0 !important;
}

.chat-id-view {
    display: flex;
    align-items: flex-end;
    padding-bottom: 60px;
    flex-direction: column;
    justify-content: flex-end;
}

.chat-id-comment:not(:last-child) {
    margin-bottom: 25px;
}

.chat-id-view .voice-wrap {
    border: none;
    background: transparent;
    box-shadow: none;
}

.mobile-chat-id-meta {
    height: 70px;
    border-bottom: 1px solid #C7C7C7;
    padding: 20px;
    display: none;
    position: absolute;
    width: 100%;
    background: #fff;
}

.mobile-chat-back span {
    font-size: 18px;
    line-height: 23px;
    color: var(--grey);
    font-family: var(--bold);
}

.user-id-meta-avatar {
    width: 41px;
    height: 41px;
}

.drawer-top .v-list-item--link:before {
    background: transparent !important;
    opacity: 0;
}

.drawer-top .v-list-item {
    background: transparent !important;
}

.app-drawer.v-navigation-drawer--fixed {
    z-index: 999;
}

/***************  MEDIA  ************************/

@media (max-width: 1800px) {
    .courses-card-item {
        width: calc(20% - 30px);
    }
}

@media (max-width: 1600px) {
    .courses-card-item {
        width: calc(25% - 30px);
    }

    .module-course-items {
        width: calc(33.333333% - 30px);
    }
}

@media (max-width: 1200px) {
    .course-content-aside,
    .expand-tools-wrap .v-expansion-panel-header {
        display: none;
    }

    .mobile-tab {
        display: flex !important;
    }

    .module-course-items {
        width: calc(50% - 30px);
    }

    .course-info-header {
        flex-wrap: wrap;
    }

    .course-info-meta {
        flex: initial;
        width: 100%;
        margin-top: 32px;
    }
}

@media (max-width: 1300px) {
    .courses-card-item {
        width: calc(33.3333% - 30px);
    }
}

@media (min-width: 1194px) {

}

@media (max-width: 1194px) {
    .app-main {
        padding-left: 100px !important;
    }
}

@media (min-width: 833px) {
    .mobile-menu{
        display: none;
    }
}

@media (max-width: 833px) {
    .mobile-menu {
        display: flex;
    }
    .app-main {
        padding-left: 0 !important;
    }

    .v-application .drawer-top > .px-2 {
        padding: 0 !important;
    }

    .drawer-top .drawer-anchor {
        margin: 0 !important;
        box-shadow: 0px 4px 4px rgba(173, 173, 173, 0.25) !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        padding: 0 !important;
        border-radius: 0 !important;
    }

    .brand-text {
        font-size: 35px !important;
    }


    .drawer-top .drawer-anchor .v-list-item__content {
        flex: initial !important;
    }

    .courses-card-item {
        width: calc(25% - 30px);
    }

    .app-route {
        padding: 0 15px;
    }

    .v-application .header-tools.ml-6 {
        margin-left: 8px !important;
    }

    .header {
        padding: 14px 0 14px 20px;
        height: 70px;
        background: #fff;
        box-shadow: 0 4px 10px rgba(156, 156, 156, 0.25);
    }

    .v-application .header-search span,
    .v-application .user-auth.d-flex {
        display: none !important;
    }

    .header-search {
        height: 43px;
        background: #F4F4F4;
    }

    .header-tools {
        width: auto;
        height: auto;
        box-shadow: none !important;
        background: transparent;
    }

    .header-search img {
        width: 15px;
        height: 15px;
        right: 20px;
        z-index: 2;
    }

    .notification-dropdown .v-image {
        max-height: 21px !important;
        max-width: 21px !important;
    }

    .auth-dropdown .v-image {
        max-height: 45px !important;
        max-width: 45px !important;
    }

    .auth-dropdown {
        height: auto;
    }

    .app-drawer.v-navigation-drawer {
        transform: translateX(-200%) !important;
    }

    .app-drawer.active.v-navigation-drawer {
        transform: translateX(0%) !important;
    }

    .app-drawer {
        position: absolute !important;
        z-index: 101 !important;
        width: 307px !important;
    }

    .app-drawer.v-navigation-drawer--mini-variant .v-list-item>:not(:first-child) {
        position: relative !important;
        width: auto;
        height: auto;
        overflow: visible;
        clip: inherit;
        white-space: initial;
        display: block;
        margin-left: 0 !important;
    }

    .v-application--is-ltr .app-drawer .v-list-item__icon:first-child {
        margin-right: 24px !important;
    }
}

@media (max-width: 992px) {
    .courses-card-item {
        width: calc(33.3333% - 30px);
    }

    .course-expand-footer .v-slide-group__prev--disabled {
        display: none !important;
    }

    .course-header {
        height: 70px;
    }
}

@media (max-width: 769px) {
    .desktop-visible, .desktop-text  {
        display: none;
    }

    .chat-text-field span {
        top: 0;
        left: 0;
    }

    .search-block-text p {
        font-size: 17px;
        line-height: 25px;
    }

    .course-expand-content {
        padding-top: 75%;
    }


    .mobile-download-icon {
        display: block;
    }

    .download-button button {
        height: 51px !important;
    }

    .mobile-go-back {
        display: flex;
    }

    .test-result-content {
        flex-wrap: wrap;
    }

    .result-cirle {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    .test-result-text {
        width: 100%;
        flex: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .system-language-button {
        align-items: flex-start;
    }

    .help-view-links span, .expansion--header p, .expansion--body p {
        font-size: 18px;
        line-height: 20px;
    }

    .account-view {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #f7f9fc;
        transform: translateX(-100%);
        transition: transform 300ms;
        padding: 0;
    }

    .account-view.active {
        transform: translateX(0%);
    }

    .account-container {
        box-shadow: none;
        background: transparent;
    }

    .account-sidebar {
        width: 100%;
        background: transparent;
        padding: 0;
    }

    .account-sidebar-items {
        box-shadow: 0 4px 4px rgba(217, 217, 217, 0.25) !important;
        border-radius: 7px !important;
        color: var(--grey) !important;
        margin-bottom: 12.5px;
        background: #fff;
    }
}

.course-progress-button button {
    font-size: 18px !important;
    line-height: 23px;
}

@media (max-width: 650px) {
    .subject-container > div.d-flex {
        flex-wrap: wrap;
    }

    .mobile-chat-id-meta {
        display: flex;
    }

    .chat-aside {
        border: none;
        width: 100%;
    }

    .chat-message-area {
        position: absolute;
        width: 100%;
        top: 0;
        height: 100%;
        background: #fff;
        transform: translateX(100%);
    }

    .chat-message-area.active {
        transform: translateX(0%);
    }

    .chat-text-field span {
        top: 5px;
        font-size: 11px;
    }

    .chat-footer-items {
        width: 40px;
        height: 40px;
    }

    .chat-footer-items i {
        font-size: 25px;
    }

    .test-blog-item h1 {
        font-size: 20px;
        line-height: 27px;
    }

    .tab-expand-header .v-tab span {
        font-size: 15px;
    }

    .search-result-items {
        flex-wrap: wrap;
        padding: 20px;
    }

    .search-block-text {
        width: 100%;
        margin-bottom: 15px;
    }

    .search-course-items-wrap {
        height: auto !important;
        padding: 0 !important;
        overflow: initial !important;
    }

    .search-result-crumbs .v-breadcrumbs__item {
        font-size: 16px;
        line-height: 22px;
    }

    .search-result-crumbs {
        padding: 0;
    }

    .log-out-buttons button {
        height: 54px !important;
        max-width: 107px;
    }

    .log-out-buttons button span {
        font-size: 18px;
        line-height: 23px;
    }

    .v-application .log-out-modal.py-15 {
        padding: 30px !important;
    }

    .log-out-modal > p {
        font-size: 22px;
        line-height: 29px;
    }

    .log-out-buttons .button-no {
        max-width: 156px;
    }
    
    .news-view-container p {
        font-size: 16px !important;
        line-height: 26px;
    }

    .v-application .news-view.mt-16 {
        margin-top: 30px !important
    }

    .course-tab-box > p {
        font-size: 22px;
        line-height: 29px !important;
    }

    .course-need > p {
        font-size: 16px;
        line-height: 20px;
    }

    .course-need ul li p {
        font-size: 14px;
        line-height: 18px;
    }

    .tab-check-items {
        width: 100%;
    }

    .v-application .course-info-img.mr-5 {
        margin-right: 0 !important;
    }

    .v-application .course-info-view.mt-12 {
        margin-top: 20px !important;
    }

    .course-info-meta h1,
    .course-info-owner > * {
        font-size: 20px;
        line-height: 30px;
    }

    .course-tab-content {
        padding: 20px;
    }

    .v-application .mr-12.course-more-button {
        margin-right: 25px !important;
    }

    .course-more-button button {
        max-width: 140px;
        height: 50px !important;
        font-size: 20px !important;
    }

    .course-info-cost p {
        font-size: 20px;
        line-height: 15px;
    }

    .v-application .payment-view-box.py-8 {
        padding: 8px !important;
    }

    .success-payment-view span {
        font-size: 17px;
        display: block;
        text-align: center;
    }

    .payment-view {
        margin-top: 20px;
        padding: 18px;
    }

    .payment-view p {
        font-size: 25px;
        line-height: 25px;
    }

    .payment-view-form p,
    .payment-card-number span {
        font-size: 15px !important;
    }

    .payment-card-code {
        width: 90px;
    }

    .v-application .payment-card-code span,
    .v-application .payment-card-number span {
        display: none !important;
    }

    .payment-card-input {
        height: 42.56px;
        padding: 10px;
        font-size: 16px;
    }

    .payment-button button {
        height: 45px !important;
        font-size: 20px !important;
        max-width: 190px
    }

    .module-course-items {
        width: calc(100% - 30px);
    }

    .header-logo-2 img {
        width: 30px;
        margin-right: 12px !important;
    }

    .course-haeder-dropdown .v-btn__content span {
        width: 6.5px;
        height: 6.5px;
        margin-bottom: 3.25px;
    }

    .header-logo-2 span {
        font-size: 28px;
    }

    .expand-tab-items {
        padding: 10px;
    }

    .expand-tab-items p {
        font-size: 16px;
    }

    .course-header {
        padding: 15px 0 15px 20px;
    }

    .subject-container > div.d-flex > h1 {
        width: 100%;
    }

    .subject-container > div.d-flex > .read-more-anchor {
        margin-bottom: 8px;
    }

    .courses-card-item {
        width: calc(50% - 30px);
    }

    .header {
        min-height: 70px;
    }

    .app-logo span {
        font-size: 30px;
        margin-left: 10px !important;
    }

    .header-lang {
        right: 10px;
    }

    .header-lang img {
        width: 24px;
        height: 24px;
    }

    .layout-route {
        padding-top: 115px;
    }

    .app-login {
        margin: 0 20px 30px;
    }

    .tab-title {
        font-size: 18px;
        line-height: 23px;
    }

    .ophan-button-1 button {
        height: 45px !important;
        font-size: 16px !important;
        line-height: 21px !important;
    }

    .forget-password {
        font-size: 14px;
        line-height: 18px;
    }

    .error-text {
        font-size: 12px;
        line-height: 16px;
    }

    .condition-text {
        font-size: 16px;
        line-height: 21px;
    }

    .app-logo img {
        max-width: 30px;
    }

    .login-tabs .tab-items {
        letter-spacing: 0;
    }
    
    .lider-table .app-table-thead, .lider-table .app-table-tbody td:nth-child(3), .notification-count{
        display: none;
    }

    .header-search input::-webkit-input-placeholder {
        color: transparent;
    }
    .header-search input:-moz-placeholder { 
       color: transparent;
    }
    .header-search input::-moz-placeholder { 
       color: transparent;
    }
    .header-search input:-ms-input-placeholder { 
       color: transparent;
    }
    .notification-icon-wrap{
        margin: 0;
    }
}

@media (max-width: 415px) {
    .close-cicrle {
        left: 320px;
    }
}
@media (max-width: 410px) {
    .app-drawer{
        width: 100% !important;
    }
    .close-cicrle {
        z-index: 101;
        background: transparent;
        top: 15px;
        left: initial;
        right: 5px;
    }
}
@media (max-width: 450px) {
    .chart-carouse-cell {
        width: 100% !important;
    }

    .notification-dropdown-list {
        min-width: 100%;
    }
    
    .chart-card > div {
        height: 180px !important;
        line-height: 180px !important;
    }

    .layout-route {
        padding-top: 40px;
    }

    .carousel-cell {
        width: 90%;
    }

    .test-result-content {
        padding: 15px;
    }

    .teset-result-text-items p:first-child {
        width: 225px;
    }

    .teset-result-text-items p {
        font-size: 16px;
        line-height: 20px;
    }

    .course-start-header p {
        font-size: 20px;
        line-height: 20px;
    }

    .course-start-content h1 {
        font-size: 16px;
        line-height: 22px;
    }

    .course-answer-items {
        font-size: 16px;
        padding: 15px 20px;
    }

    .share-modal-input {
        flex-wrap: wrap;
    }

    .course-dropdown-items span {
        font-size: 16px;
    }

    .v-application .share-modal-input.my-12 {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }

    .share-modal-input input {
        max-width: 100%;
        width: 100%;
        height: 40px;
        margin: 0 0 25px;
    }

    .share-button {
        margin: auto;
    }

    .v-application--is-ltr .share-modal-input .v-rating .v-icon {
        font-size: 29px !important;
    }

    .remove-icon {
        right: 15px;
        top: 15px;
    }

    .remove-icon img {
        width: 16px;
        display: block;
    }

    .share-modal-wrap {
        padding: 20px 30px;
    }

    .share-modal-input .share-button {
        padding: 10px 30px;
        font-size: 16px;
    }


    .warning-image img {
        width: 75px;
    }

    .share-modal-wrap h1 {
        font-size: 16px;
        line-height: 23px;
    }

    .courses-card-item,
    .courses-card-item .flickity-card {
        width: 100%;
    }

    .courses-card-item .flickity-card-img {
        height: 165px;
    }



    .card-text {
        padding: 13px 15px;
    }

    .card-text  .title-1 {
        font-size: 16px;
        line-height: 20px;
    }

    .v-application .mr-9.user-avatar {
        margin-right: 15px !important;
    }

    .v-application--is-ltr .upload-wrap .v-text-field .v-input__append-inner {
        display: none;
    }

    .upload-wrap {
        padding: 6px 15px !important;
    }

    .upload-wrap .v-file-input .v-file-input__text {
        font-size: 15px;
    }

    .upload-wrap img {
        display: block;
        margin-left: 5px;
        width: 30px;
    }
}

@media (max-width: 380px) {
    .carousel-cell {
        width: calc(100% - 25px);
    }

    .course-progress-button span {
        letter-spacing: 0;
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    .tab-content {
        padding-left: 0;
        padding-right: 0;
    }

    .login-tabs .tab-items {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .upload-wrap img,
    .course-info-tabs .v-slide-group__prev {
        display: none !important;
    }

    .course-info-tabs .letter-spacing-1 {
        letter-spacing: 0;
    }

    .upload-wrap .v-file-input .v-file-input__text {
        font-size: 14px;
    }

    .user-avatar {
        width: 99px;
    }

    .course-tab-box {
        padding: 15px;
    }

    .tab-check-items img {
        width: 16.625px;
        height: 16.625px;
    }

    .course-tab-box > p {
        font-size: 16px;
        line-height: 25px !important;
    }

    .course-info-img {
        min-height: 225px;
    }

    .log-out-buttons {
        flex-wrap: wrap;
    }

    .log-out-buttons button {
        max-width: 100% !important;
        margin-bottom: 15px;
    }
}

.v-menu__content .v-list-item:hover {
    /*background: transparent !important;*/
  }

  .header-search img {
    z-index: 999;
    margin-right: -5px;
  }

  .router-link-active .v-image__image--cover {
    filter: brightness(0) invert(1);
  }

  .v-text-field .v-text-field__details{
      display: none;
  }

  .v-text-field .v-input__slot{
      box-shadow: none !important;
  }

  .v-text-field .v-select__slot{
      min-height: 60px;
  }

  .v-menu__content.select-filter, .v-menu__content.select-language{
    transform: translateY(70px);
    max-width: 230px;
    width: 230px;
    border: 1px solid #F4F4F4;
    box-shadow: 0px 4px 4px rgba(221, 221, 221, 0.25) !important;
    /* left: 1043px !important; */
  }

  .v-menu__content.select-language{
    text-align: center;      
  }

  .select-language .v-list-item__title{
    font-size: 24px;
    line-height: 31px;
    color: #757575;
  }

  .select-language .v-list-item{
    border-bottom: 1px solid #F6F6F6;
  }

  .select-language .v-list-item:last-child{
      border-bottom: 0 none;
  }

  .v-input .v-label{
      height: 60px;
  }

  .mdi-chevron-down:before, .mdi-chevron-down:after{
    width: 24px;
    height: 16px;
  }

.mdi-chevron-down:before {
    content: url(../img/icons/icon-18.svg);    
}

.v-expansion-panel[aria-expanded="true"] .mdi-chevron-down:before {
    transform: rotate(90deg);
}

.mdi-chevron-down.v-icon.v-icon:after {
    content: none;    
}

input::-webkit-input-placeholder {
    font-size: 20px;
    color: #B3B3B3;
}
input:-moz-placeholder { 
   font-size: 20px;
   color: #B3B3B3;
}
input::-moz-placeholder { 
   font-size: 20px;
   color: #B3B3B3;
}
input:-ms-input-placeholder { 
   font-size: 20px;
   color: #B3B3B3;
}

.flickity-button, .flickity-button:hover{
    background: transparent;
}

.flickity-button svg{
    fill: #1F9389;
}

.flickity-prev-next-button .flickity-button-icon{
    width: 25px;
}

 .course-expand-wrap .v-expansion-panel{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.course-expand-footer{
    flex: 1;
    overflow-y: auto;
}

.course-expand-wrap .v-expansion-panel-content{
    height: 460px;
}