<template>
    <div class="footer-container">
        <div class="footer-row">
                <div class="footer-col col-about">
                    <div class="col-title">Loyiha haqida</div>
                    <div class="intro">
                        Online o’quv kurslari hamda o’quv markazlari uchun to’la qulayliklarga ega tizim.
                    </div>
                    <div class="call-center-mobile">
                        <div class="col-title">Qo’llab quvvatlash markazi</div>
                        <div class="intro">
                            <v-list-item color="#fff" link>
                                <v-list-item-content>
                                    <v-list-item-title>+99899 888 77 66</v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                            <v-list-item color="#fff" link>
                                <v-list-item-content>
                                    <v-list-item-title>+99899 777 55 44</v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                            <v-list-item color="#fff" link>
                                <v-list-item-content>
                                    <v-list-item-title>Telegram: @edusupportteam</v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </div>
                    </div>
                </div>

                <div class="footer-col col-sections">
                    <div class="col-title">Bo’limlar</div>
                    <div class="intro">
                        <v-list-item color="#fff" link>
                            <v-list-item-content>
                                <v-list-item-title>Ro’yxatdan o’tish</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item color="#fff" link>
                            <v-list-item-content>
                                <v-list-item-title>Tizimga kirish</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item color="#fff" link>
                            <v-list-item-content>
                                <v-list-item-title>Kurslar</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item color="#fff" link>
                            <v-list-item-content>
                                <v-list-item-title>Testlar</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item color="#fff" link>
                            <v-list-item-content>
                                <v-list-item-title>Yangiliklar</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </div>
                </div>

                <div class="footer-col col-call-center">
                    <div class="col-title">Qo’llab quvvatlash markazi</div>
                    <div class="intro">
                        <v-list-item color="#fff" link>
                            <v-list-item-content>
                                <v-list-item-title>+99899 888 77 66</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item color="#fff" link>
                            <v-list-item-content>
                                <v-list-item-title>+99899 777 55 44</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item color="#fff" link>
                            <v-list-item-content>
                                <v-list-item-title>Telegram: @edusupportteam</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </div>
                </div>

                <div class="footer-col col-social">
                    <div class="col-social-item">
                        <div class="col-title">Ijtimoiy tarmoqlarda</div>
                        <div class="social-links d-flex justify-space-around">
                            <img class="soc-icon" src="@/assets/img/icon-telegram.png" alt="telegram">
                            <img class="soc-icon" src="@/assets/img/icon-instagram.png" alt="instagram">
                            <img class="soc-icon" src="@/assets/img/icon-facebook.png" alt="facebook">
                            <img class="soc-icon" src="@/assets/img/icon-twitter.png" alt="twitter">
                        </div>
                    </div>
                    <div class="col-social-item">
                        <div class="col-title">To'lov usullari</div>
                        <div class="social-links d-flex justify-space-around">
                            <img class="click-icon" src="@/assets/img/click.png" alt="click">
                            <img class="payme-icon" src="@/assets/img/payme.png" alt="payme">
                        </div>
                    </div>

                </div>
        </div>

        <div class="footer-bottom d-flex justify-space-between">
            <div class="copyright">© 2020, edu <span v-show="$vuetify.breakpoint.mdAndUp">- online ta’lim platformasi</span></div>
            <div class="d-flex quantic">
                <div v-show="$vuetify.breakpoint.smAndUp">Разработка:</div>
                <img height="30" src="@/assets/img/quantic.png" alt="quantic">
            </div>


        </div>
    </div>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style scoped lang="scss">
    *{
        box-sizing: border-box;
    }
.footer-container{
    font-family: 'K2D', sans-serif !important;
    background-color: #3F3F3F;
    padding: 40px 0 0 0;
    margin-top: 50px;

    .footer-row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 20px;
        .col-about{
            flex: 25%;
            max-width: 25%;
            padding: 0 25px;

            .call-center-mobile{
                display: none;
            }

        }
        .col-sections{
            flex: 20%;
            max-width: 20%;
            padding: 0 4px;
        }
        .col-call-center{
            flex: 25%;
            max-width: 25%;
            padding: 0 4px;
        }
        .col-social{
            flex: 30%;
            max-width: 30%;
            padding: 0 4px;

            .col-social-item{
                img{
                    margin: 8px;
                    vertical-align: middle;
                }
            }

        }
    }

    .footer-col{
        .col-title{
            font-family: 'K2D', sans-serif !important;
            font-size: 15px;
            color: #999999;

        }
        .intro{
            margin-top: 20px;
            font-size: 14px;
            color: #FFFFFF!important;
            .v-list-item__title{
                color: #FFFFFF!important;
            }
        }

        .social-links{
            margin: 10px;
            padding: 10px;
        }
    }

    .footer-bottom{
        margin-top: 40px;
        height: 60px;
        background-color: #555555;
        .copyright{
            margin: 20px;
            color: #FFFFFF!important;
        }
        .quantic{
            >div{
                margin: 20px;
                color: #3F3F3F;
            }
            >img{
                margin: 15px;
            }
        }
    }
}


@media (max-width: 800px) {
    .col-about{
        flex: 33% !important;
        max-width: 33% !important;
    }
    .col-sections{
        flex: 33% !important;
        max-width: 33% !important;
    }
    .col-call-center{
        flex: 33% !important;
        max-width: 33% !important;
    }
    .col-social{
        flex: 100% !important;
        max-width: 100% !important;
        display: flex;
        flex-wrap: wrap;

        .col-social-item{
            flex: 50% !important;
            max-width: 50% !important;


        }
    }
}


@media (max-width: 600px) {

    .col-about{
        flex: 60% !important;
        max-width: 60% !important;
    }
    .col-sections{
        flex: 40% !important;
        max-width: 40% !important;
    }
    .col-call-center{
      display: none !important;
    }
    .call-center-mobile{
        display: block !important;
        margin-top: 10px !important;
    }
    .col-title{
        font-size: 16px!important;
    }
}

    @media (max-width: 450px) {

        .intro{
            font-size: 12px !important;

            .v-list-item__title{
                font-size: 12px !important;
            }
        }

        .col-social{
            flex: 100% !important;
            justify-content: space-between;
            max-width: 100% !important;
            display: flex;
            flex-wrap: wrap;

            .col-social-item{
                flex: 45% !important;
                max-width: 45% !important;

               .soc-icon{
                   height: 25px !important;
                   width: 25px !important;
               }

               .click-icon{
                   height: 25px !important;
                   width: 65px !important;
               }

               .payme-icon{
                   height: 25px !important;
                   width: 65px !important;
               }



            }
        }
}
</style>