<template>
    <div class="flickity-card mr-5">
        <div class="flickity-card-img">
            <img :src="courseData.img" class="img-cover" alt />
        </div>

        <p class="subject-name">{{courseData.subject}}</p>

        <span class="subject-owner color-grey font-600">{{courseData.tutor}}</span>

        <div class="subject-raiting d-flex align-center mt-1 justify-end" :class="showRating ? 'justify-space-between':'justify-end'">
            <div v-if="showRating" class="subject-stars">
                <v-rating
                        v-model="courseData.rating"
                        color="#A5D9A1"
                        background-color="#C4C4C4"
                        empty-icon="$ratingFull"
                        half-increments
                        size="22"
                        :readonly="true"
                ></v-rating>
            </div>
            <div class="subject-cost">
                <p class="mt-0 text-decoration-line-through">{{courseData.price}}</p>
            </div>
        </div>

        <div class="subject-votes d-flex align-center mt-1" :class="showRating ? 'justify-space-between':'justify-end'">
            <h1 v-if="showRating" class="subject-votes-number mt-0 mb-0">{{courseData.votesNumber}}</h1>
            <span v-if="showRating" class="subject-votes-count">{{courseData.votesCount}}</span>
            <p class="mt-0 mb-0">{{courseData.salePrice}}</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CarouselCard",
        props:{
            courseData: {
                type: Object,
                required: true
            },
            isTest:{
                type: Boolean,
                default: false
            },
            showRating:{
                type: Boolean,
                default: true
            }
        }
    }
</script>

<style scoped>

</style>