<template>
    <div class="privileges-container">
        <div class="d-flex align-center justify-space-between">
            <h1 class="title-1 mb-3 color-dark privilege-titile">Tizim qulayliklari</h1>
        </div>
        <v-row justify="center">
            <v-col cols="4" lg="4" md="4" sm="4" xs="4">
                <v-card
                        class="privilege-card"
                        outlined
                >
                    <div class="d-flex justify-center privilege-image">
                        <v-img
                                :max-height="$vuetify.breakpoint.smAndDown ? 40 : 81"
                                :max-width="$vuetify.breakpoint.smAndDown ? 40 : 81"
                                src="@/assets/img/dashicons_format-chat.svg"
                        ></v-img>
                    </div>
                    <v-card-text>O’qituvchi bilan bevosita muloqot</v-card-text>
                </v-card>
            </v-col>
            <v-col cols="4" lg="4" md="4" sm="4" xs="4">
                <v-card
                        class="privilege-card"
                        outlined
                >
                    <div class="d-flex justify-center privilege-image">
                    <v-img
                            :max-height="$vuetify.breakpoint.smAndDown ? 40 : 81"
                            :max-width="$vuetify.breakpoint.smAndDown ? 40 : 81"
                            src="@/assets/img/uil_windsock.svg"
                    ></v-img>
                    </div>
                    <v-card-text>Do’stona musobaqalar</v-card-text>
                </v-card>
            </v-col>
            <v-col cols="4" lg="4" md="4" sm="4" xs="4">
                <v-card
                        class="privilege-card"
                        outlined
                >
                    <div class="d-flex justify-center privilege-image">
                        <v-img
                                :max-height="$vuetify.breakpoint.smAndDown ? 40 : 81"
                                :max-width="$vuetify.breakpoint.smAndDown ? 40 : 81"
                                src="@/assets/img/icon-graph.svg"
                        ></v-img>
                    </div>
                    <v-card-text>O’zlashtirish ko’rsatkichi</v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <v-row justify="center">
            <v-col cols="4" lg="4" md="4" sm="4" xs="4">
                <v-card
                        class="privilege-card"
                        outlined
                >
                    <div class="d-flex justify-center privilege-image">
                    <v-img
                            :max-height="$vuetify.breakpoint.smAndDown ? 40 : 81"
                            :max-width="$vuetify.breakpoint.smAndDown ? 40 : 81"
                            src="@/assets/img/carbon_exam-mode.svg"
                    ></v-img>
                    </div>
                    <v-card-text>Bepul blok testlar</v-card-text>
                </v-card>
            </v-col>
            <v-col cols="4" lg="4" md="4" sm="4" xs="4">
                <v-card
                        class="privilege-card"
                        outlined
                >
                    <div class="d-flex justify-center privilege-image">
                        <v-img
                                src="@/assets/img/icon-rating.svg"
                        ></v-img>
                    </div>
                    <v-card-text>Reyting doska</v-card-text>
                </v-card>
            </v-col>
        </v-row>

    </div>
</template>

<script>
    export default {
        name: "Privilegies"
    }
</script>

<style scoped lang="scss">
.privileges-container{
    font-family: 'K2D', sans-serif !important;
    margin-top: 200px;
    padding: 20px;
    .privilege-titile{
        font-size: 3rem;
        font-style: normal;
    }
    .privilege-card{
        margin: auto;
        padding: 20px;
        width: 300px;
        height: 300px;
        max-width: 300px;
        max-height: 300px;
        font-size: 20px;
        background: #FFFFFF;
        border: 0.5px solid #ADE3A9;
        box-sizing: border-box;
        border-radius: 20px;
        text-align: center;
        .v-card__text{
            font-size: 2rem;
            line-height: 2rem;
        }

    }
    .privilege-image{
        padding: 10px;
        .v-image{
            max-height: 81px!important;
            max-width: 81px !important;
        }
    }
}

    @media screen and (max-width: 950px){
        .privileges-container{
            padding:15px;
        }

        .privilege-titile {
            font-size: 2rem !important;
        }
        .privilege-card {
            padding: 2px !important;
            width: 220px!important;
            height: 220px!important;
            .v-card__text{
                padding: 0!important;
                font-size: 2rem !important;
                line-height: 2rem !important;
            }
        }
    }
    @media screen and (max-width: 769px){
        .privileges-container{
            padding:15px;
        }

        .privilege-titile {
            font-size: 2rem !important;
        }
        .privilege-card {
            padding: 2px !important;
            width: 180px !important;
            height: 180px !important;
            .privilege-image{
                .v-image{
                    max-height: 60px !important;
                    max-width: 60px !important;
                }
            }
            .v-card__text{
                padding: 0 !important;
                font-size: 1.5rem !important;
                line-height: 1.5rem !important;
            }
        }
    }
    @media screen and (max-width: 560px){
        .privileges-container{
            padding:10px;
        }
        .privilege-titile {
            font-size: 2rem !important;
        }
        .privilege-card {
            padding: 2px !important;
            width: 120px !important;
            height: 120px !important;
            .privilege-image{
                .v-image{
                    max-height: 40px !important;
                    max-width: 40px !important;
                }
            }
            .v-card__text{
                padding: 0!important;
                font-size: 1rem !important;
                line-height: 1rem !important;
            }
        }
    }
</style>