<template>
  <div class="app-home mt-5">
    <div class="subject-container">
      <h1 class="title-1 mb-5">Darsni qolgan joyidan davom ettirish</h1>

      <div class="subject-wrap">
        <flickity ref="flickity2" :options="flickityOptions2">
          <div class="carousel-cell">
            <div class="card-basic mr-7">
              <p class="para-1">
                Matematikadan oliy ta’lim muassalari uchun tayyorgarlik kursi
              </p>

              <div class="d-flex align-center justify-space-between mt-auto">
                <h1 class="title-1 color-dark">2-dars</h1>
                <v-btn
                  depressed
                  color="var(--pink)"
                  class="reset-text-case letter-spacing-1 text-white font-600"
                  >Davom etish
                </v-btn>
              </div>
            </div>
          </div>
          <div class="carousel-cell">
            <div class="card-basic mr-7">
              <p class="para-1">
                Matematikadan oliy ta’lim muassalari uchun tayyorgarlik kursi
              </p>

              <div class="d-flex align-center justify-space-between mt-auto">
                <h1 class="title-1 color-dark">2-dars</h1>
                <v-btn
                  depressed
                  color="var(--pink)"
                  class="reset-text-case letter-spacing-1 text-white font-600"
                  >Davom etish
                </v-btn>
              </div>
            </div>
          </div>
          <div class="carousel-cell">
            <div class="card-basic mr-7">
              <p class="para-1">
                Matematikadan oliy ta’lim muassalari uchun tayyorgarlik kursi
              </p>

              <div class="d-flex align-center justify-space-between mt-auto">
                <h1 class="title-1 color-dark">2-dars</h1>
                <v-btn
                  depressed
                  color="var(--pink)"
                  class="reset-text-case letter-spacing-1 text-white font-600"
                  >Davom etish
                </v-btn>
              </div>
            </div>
          </div>
        </flickity>
      </div>
    </div>

    <div class="subject-chart-container mt-9">
      <h1 class="title-1 mb-5">Darsni o’zlashtirish ko’rsatkichlari</h1>

      <flickity ref="flickity2" :options="flickityOptions2">
        <div class="chart-carouse-cell">
          <div class="chart-card">
            <p class="para-1 dark-full text-center mb-4">Matematika</p>
            <line-chart
                    height="250px"
                    :colors="['#FFA097']"
                    :data="{ '1-dars': 90, '3-dars': 55, '5-dars': 80, '7-dars': 50, '9-dars': 75, '11-dars': 98 }"
            ></line-chart>
          </div>
        </div>
        <div class="chart-carouse-cell">
          <div class="chart-card">
            <p class="para-1 dark-full text-center mb-4">Ona tili</p>
            <line-chart
                    height="250px"
                    :colors="['#A5D9A1']"
                    :data="{ '1-dars': 90, '3-dars': 55, '5-dars': 80, '7-d ars': 50, '9-dars': 75, '11-dars': 98 }"
            ></line-chart>
          </div>
        </div>
        <div class="chart-carouse-cell">
          <div class="chart-card">
            <p class="para-1 dark-full text-center mb-4">Ona tili</p>
            <line-chart
                    height="250px"
                    :colors="['#A5D9A1']"
                    :data="{ '1-dars': 90, '3-dars': 55, '5-dars': 80, '7-dars': 50, '9-dars': 75, '11-dars': 98 }"
            ></line-chart>
          </div>
        </div>
      </flickity>
    </div>
  </div>
</template>

<script>
import Flickity from "vue-flickity";

export default {
  name: "Home",
  data() {
    return {
      data: [{ data: { "2017-01-01": 3, "2017-01-02": 4, "2017-01-03": 5 } }],
      flickityOptions: {
        // initialIndex: 1,
        prevNextButtons: false,
        pageDots: false,
        freeScroll: false,
        draggable: true,
        contain: true
      },
      flickityOptions2: {
        // initialIndex: 1,
        prevNextButtons: false,
        pageDots: false,
        freeScroll: false,
        draggable: true,
        contain: true
      },
    };
  },
  components: {
    Flickity,
  },
};
</script>

<style lang="scss">
  .ml-5 {
    margin-left: 20px;
  }
</style>
<style scoped lang="scss">
/*.subject-wrap{*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  >div{*/
/*    margin-bottom: 10px;*/
/*    margin-top: 10px;*/
/*  }*/
/*}*/
/*@media (max-width: 450px){*/
/*  .subject-wrap{*/
/*    justify-content: center;*/
/*    .mr-7{*/
/*      margin-right: 0 !important;*/
/*    }*/
/*  }*/
/*}*/
  .app-home{
    max-height: calc(100% - 20px);
    overflow: auto;
    padding-bottom: 20px;
  }
</style>