<template>
     <form method="get" action="#">
        <div class="search-input">
            <input type="text" :placeholder=inputName />
            <v-btn icon>
                <img src="@/assets/img/search.png" />
            </v-btn>
        </div>
    </form>   
</template> 


<script>
  export default {
      props:{
        inputName: {
          type: String,
          default: 'Izlash' 
        }
      } 
  }

</script>  

<style lang="scss">

  form{
    .search-input{
      background: #FFFFFF;
      border: 2px solid #D4D4D4;
      box-sizing: border-box;
      border-radius: 40px;
      position: relative;
      width: 100%;

      input{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px 50px 8px 47px;
        width: 100%;
        font-size: 23px;
        color: var(--grey);
        &::placeholder{
          color: var(--grey);
        }
        &:focus{
          outline: none;
        }
      }
      button{
        width: 40px !important;
        height: 40px  !important;
        padding: 0;
        display: block;
        margin-left: auto;
        margin-right: 10px;
        color: var(--black);
      }
    }
  }

</style>