<template>
    <div class="counter-container">
        <v-row justify="center">
            <v-col cols="3">
                <div class="counter-circle d-flex justify-center">
                <span>142</span>
                </div>
                <div class="d-flex justify-center counter-title">Foydalanuvchi</div>
            </v-col>
            <v-col cols="3">
                <div class="counter-circle d-flex justify-center">
                    <span>58</span>
                </div>
                <div class="d-flex justify-center counter-title">Kurslar</div>
            </v-col>
            <v-col cols="3">
                <div class="counter-circle d-flex justify-center">
                    <span>43</span>
                </div>
                <div class="d-flex justify-center counter-title">O'qituvchilar</div>
            </v-col>
        </v-row>
    </div>
</template>

<script>
    export default {
        name: "Counter"
    }
</script>

<style scoped lang="scss">
    .counter-container{
        font-family: 'K2D', sans-serif !important;
        .counter-circle{
            margin: 300px auto 0;
            width: 200px;
            height: 200px;
            border-radius: 100px;
            background-color: #A5D9A1;
            >span{
                font-size: 40px;
                color: white;
                margin-top: 77px;
            }
        }
        .counter-title{
            font-size: xx-large;
            margin-top: 20px;
        }
    }

    @media screen and (max-width: 865px){
        .counter-circle{
            margin: 150px auto 0!important;
            width: 120px !important;
            height: 120px !important;
            border-radius: 60px !important;
            >span{
                font-size: 33px !important;
                color: white;
                margin-top: 37px !important;
            }

        }
        .counter-title{
            font-size: large !important;
            margin-top: 20px;
        }
    }
    @media screen and (max-width: 600px){
        .counter-circle{
            margin: 90px auto 0!important;
            width: 90px !important;
            height: 90px !important;
            border-radius: 45px !important;
            >span{
                font-size: 25px !important;
                color: white;
                margin-top: 27px !important;
            }

        }
        .counter-title{
            font-size: large !important;
            margin-top: 20px;
        }
    }


</style>