<template>
    <div class="course-wrapper">
        <!-- course btn  -->
        <v-btn link class="course-bnt">
            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.33335 4.0013C7.33335 4.88536 6.98216 5.7332 6.35704 6.35833C5.73192 6.98345 4.88408 7.33464 4.00002 7.33464C3.11597 7.33464 2.26812 6.98345 1.643 6.35833C1.01788 5.7332 0.666687 4.88536 0.666687 4.0013C0.666687 3.11725 1.01788 2.2694 1.643 1.64428C2.26812 1.01916 3.11597 0.667969 4.00002 0.667969C4.88408 0.667969 5.73192 1.01916 6.35704 1.64428C6.98216 2.2694 7.33335 3.11725 7.33335 4.0013Z" fill="#5A5A5A"/>
                <path d="M7.33335 14.0013C7.33335 14.8854 6.98216 15.7332 6.35704 16.3583C5.73192 16.9834 4.88408 17.3346 4.00002 17.3346C3.11597 17.3346 2.26812 16.9834 1.643 16.3583C1.01788 15.7332 0.666687 14.8854 0.666687 14.0013C0.666687 13.1172 1.01788 12.2694 1.643 11.6443C2.26812 11.0192 3.11597 10.668 4.00002 10.668C4.88408 10.668 5.73192 11.0192 6.35704 11.6443C6.98216 12.2694 7.33335 13.1172 7.33335 14.0013Z" fill="#5A5A5A"/>
                <path d="M4.00002 27.3346C4.88408 27.3346 5.73192 26.9834 6.35704 26.3583C6.98216 25.7332 7.33335 24.8854 7.33335 24.0013C7.33335 23.1172 6.98216 22.2694 6.35704 21.6443C5.73192 21.0192 4.88408 20.668 4.00002 20.668C3.11597 20.668 2.26812 21.0192 1.643 21.6443C1.01788 22.2694 0.666687 23.1172 0.666687 24.0013C0.666687 24.8854 1.01788 25.7332 1.643 26.3583C2.26812 26.9834 3.11597 27.3346 4.00002 27.3346Z" fill="#5A5A5A"/>
                <path d="M17.3334 4.0013C17.3334 4.88536 16.9822 5.7332 16.357 6.35833C15.7319 6.98345 14.8841 7.33464 14 7.33464C13.116 7.33464 12.2681 6.98345 11.643 6.35833C11.0179 5.7332 10.6667 4.88536 10.6667 4.0013C10.6667 3.11725 11.0179 2.2694 11.643 1.64428C12.2681 1.01916 13.116 0.667969 14 0.667969C14.8841 0.667969 15.7319 1.01916 16.357 1.64428C16.9822 2.2694 17.3334 3.11725 17.3334 4.0013Z" fill="#5A5A5A"/>
                <path d="M14 17.3346C14.8841 17.3346 15.7319 16.9834 16.357 16.3583C16.9822 15.7332 17.3334 14.8854 17.3334 14.0013C17.3334 13.1172 16.9822 12.2694 16.357 11.6443C15.7319 11.0192 14.8841 10.668 14 10.668C13.116 10.668 12.2681 11.0192 11.643 11.6443C11.0179 12.2694 10.6667 13.1172 10.6667 14.0013C10.6667 14.8854 11.0179 15.7332 11.643 16.3583C12.2681 16.9834 13.116 17.3346 14 17.3346Z" fill="#5A5A5A"/>
                <path d="M17.3334 24.0013C17.3334 24.8854 16.9822 25.7332 16.357 26.3583C15.7319 26.9834 14.8841 27.3346 14 27.3346C13.116 27.3346 12.2681 26.9834 11.643 26.3583C11.0179 25.7332 10.6667 24.8854 10.6667 24.0013C10.6667 23.1172 11.0179 22.2694 11.643 21.6443C12.2681 21.0192 13.116 20.668 14 20.668C14.8841 20.668 15.7319 21.0192 16.357 21.6443C16.9822 22.2694 17.3334 23.1172 17.3334 24.0013Z" fill="#5A5A5A"/>
                <path d="M24 7.33464C24.8841 7.33464 25.7319 6.98345 26.357 6.35833C26.9822 5.7332 27.3334 4.88536 27.3334 4.0013C27.3334 3.11725 26.9822 2.2694 26.357 1.64428C25.7319 1.01916 24.8841 0.667969 24 0.667969C23.116 0.667969 22.2681 1.01916 21.643 1.64428C21.0179 2.2694 20.6667 3.11725 20.6667 4.0013C20.6667 4.88536 21.0179 5.7332 21.643 6.35833C22.2681 6.98345 23.116 7.33464 24 7.33464Z" fill="#5A5A5A"/>
                <path d="M27.3334 14.0013C27.3334 14.8854 26.9822 15.7332 26.357 16.3583C25.7319 16.9834 24.8841 17.3346 24 17.3346C23.116 17.3346 22.2681 16.9834 21.643 16.3583C21.0179 15.7332 20.6667 14.8854 20.6667 14.0013C20.6667 13.1172 21.0179 12.2694 21.643 11.6443C22.2681 11.0192 23.116 10.668 24 10.668C24.8841 10.668 25.7319 11.0192 26.357 11.6443C26.9822 12.2694 27.3334 13.1172 27.3334 14.0013Z" fill="#5A5A5A"/>
                <path d="M24 27.3346C24.8841 27.3346 25.7319 26.9834 26.357 26.3583C26.9822 25.7332 27.3334 24.8854 27.3334 24.0013C27.3334 23.1172 26.9822 22.2694 26.357 21.6443C25.7319 21.0192 24.8841 20.668 24 20.668C23.116 20.668 22.2681 21.0192 21.643 21.6443C21.0179 22.2694 20.6667 23.1172 20.6667 24.0013C20.6667 24.8854 21.0179 25.7332 21.643 26.3583C22.2681 26.9834 23.116 27.3346 24 27.3346Z" fill="#5A5A5A"/>
            </svg>
            <span>Kurslar</span>
        </v-btn>
        <!-- course list here -->
        <ul class="listCourse course-list">
            <li v-for="link in links" :key="link.title">
                <router-link :to="'link.url'">
                    {{link.title}}
                </router-link>
                <img src="@/assets/img/chevron-right.svg" />
                <ul class="listCourse droplist">
                    <div class="droplist__title"><small>{{link.title}} barchasi</small></div>
                    <li :key="link.subname.id">
                        <router-link :to="'link.subname.url'">
                            {{link.subname.title}}
                        </router-link>
                        <img src="@/assets/img/chevron-right.svg" />
                        <ul class="listCourse droplist droplist-sub">
                            <div class="droplist__title"><b>Mashxur kurslar</b></div>
                            <li :key="link.title">
                                <router-link :to="'link.subname.subname1.url'">
                                    {{link.subname.subname1.name}}
                                </router-link>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</template>

<script>
    export default {
        name: "DesctopNavigation",
        data(){
            return{
                links: [
                    {subname:
                            {title: 'Matematika',
                                url: 'mat1',
                                subname1: {
                                    name: 'Matematika oliy o’quv yurtlariga tayyorgarlik uchun',
                                    url: 'mat2',
                                },
                            },
                        title: 'Abituriyentlar uchun',
                        url: '1'
                    },
                    {subname:
                            {title: 'Biznesni boshlash',
                                url: 'mat1',
                                subname1: {
                                    name: 'Matematika oliy o’quv yurtlariga tayyorgarlik uchun',
                                    url: 'mat2',
                                },
                            },
                        title: 'Biznes uchun',
                        url: '1'
                    },
                    {subname:
                            {title: 'Java dasturlash',
                                url: 'mat1',
                                subname1: {
                                    name: 'Matematika oliy o’quv yurtlariga tayyorgarlik uchun',
                                    url: 'mat2',
                                },
                            },
                        title: 'IT va Dasturlar uchun',
                        url: '1'
                    },
                    {subname:
                            {title: 'Qo\'shiqchilik',
                                url: 'mat1456',
                                subname1: {
                                    name: 'Matematika456 oliy o’quv yurtlariga tayyorgarlik uchun',
                                    url: 'mat245',
                                },
                            },
                        title: 'San’at yo’nalishi',
                        url: '13'
                    }
                ]
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import 'header-style';
    :root{
        --red: #FF6151;
        --green: #A5D9A1;
        --blue: #6C8A9B;
        --white: #ffffff;
        --pink: #FFA097;
        --black: #3F3F3F;
        --grey: #D4D4D4;
        --hoverLink: #1F9389;
        --K2D: 'K2D', sans-serif;
        --Roboto: 'Roboto', sans-serif;
    }

    .course-wrapper{
        font-family: var(--R2D);
        position: relative;
        padding-top: 16px;
        margin-left: 0px;
        height: 65px;
        z-index: 10;
        display: flex;
        align-items: center;
        &:hover{
            .course-list{
                display: block;
                top: 100%;
            }
        }
    }
    ul{
        list-style: none;
        padding: 0 !important;
        margin: 0;
    }
    .listCourse{
        position: absolute;
        padding: 16px 0px !important;
        background: #FFFFFF;
        border: 1px solid #D4D4D4;
        box-sizing: border-box;
        box-shadow: inset -2px 0px 4px rgba(0, 0, 0, 0.15);
        width: 300px;
        height: 433px;
        li{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            a{
                font-size: 20px;
                line-height: 1.2;
                color: #000;
                text-decoration: none;
            }
            & img{
                flex: 0 0 9px;
                max-width: 9px;
                filter: brightness(0.5) grayscale(1);
            }
            a{
                flex: 1 0 80%;
            }
            &:hover, &:active{
                & > a{
                    color: var(--hoverLink) !important;
                }
                & > img{
                    filter: none;
                }
                & > ul.droplist{
                    left: 100%;
                    opacity: 1;
                    display: block;
                    li{
                        &:hover, &:active{
                            & > ul{
                                left: 100%;
                                opacity: 1;

                            }
                        }
                    }
                }
            }
        }
    }
    .droplist-sub{
        li{
            font-size: 16px;
        }
    }
    .course-list{
        top: 0;
        left: 0;
        display: none;
    }
    .droplist{
        opacity: 0;
        top: 0;
        left: 0%;
        display: none;
        &__title{
            font-size: 20px;
            color: #000;
            padding: 0 20px;
        }
    }

    .course-bnt{
        // font-family: K2D;
        background-color: #fff !important;
        box-shadow: none;
        font-size: 22px !important;
        text-transform: initial;
        font-weight: 600;
        padding-left: 0 !important;
        &:before{
            display: none;
        }
        svg{
            margin-right: 15px;
        }
        &:hover{
            color: var(--red);
            background-color: #fff !important;
            svg path{
                fill: var(--red) !important;
            }
        }

    }

</style>