.landing-header {
  min-height: 100px;
  background: #fff;
  box-shadow: 0 4px 20px rgba(166, 166, 166, 0.25);
}

.desktop-dropdown{
  color: #5A5A5A;
  font-weight: 500;
  height: 100% !important;
  position: relative;
  cursor: pointer;
  >i{
    font-size: 35px;
    position: absolute;
    bottom: 0;
  }
  >span{
    font-size: 24px;
    position: absolute;
    left: 40px;
    bottom: 7px;
  }
}

.landing-header-search {
  max-width: 572px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 31px;
  border: 1px solid #5A5A5A;

  input {
    outline: none;
    padding: 10px 20px;
    z-index: 2;
  }
  img {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.register-button{
  margin: 16px 6px 6px;
}
.login-button{
  margin: 16px 6px 6px;
  color: #FFA097!important;
}

