<template>
    <header class="landing-header header d-flex">
        <v-row v-if="$vuetify.breakpoint.width > 1050">
            <v-col cols="2">
                <router-link class="app-logo text-decoration-none d-flex justify-center pt-2" to="/landing">
                <img src="@/assets/img/logo.svg" alt="Logo" />
                <span class="ml-5">edu</span>
            </router-link>
            </v-col>
            <v-col cols="2">
<desctop-navigation/>
            </v-col>
            <v-col cols="3" offset-lg="1">
                <div class="w-100 h-100 pt-4">
                    <Search/>
                </div>
            </v-col>
            <v-col cols="4">
                <router-link to="/login" class="text-decoration-none">
                    <v-btn
                            class="register-button"
                            color="#FFA097"
                            dark
                            large
                    >
                        Ro'yxatdan o'tish
                    </v-btn>
                </router-link>

                <router-link to="/login" class="text-decoration-none">
                    <v-btn
                            class="login-button"
                            color="#fff"
                            dark
                            large
                    >
                        Kirish
                    </v-btn>
                </router-link>

            </v-col>
        </v-row>
        <languages v-if="$vuetify.breakpoint.width > 1050"/>

        <mobile-header-content v-else/>
    </header>
</template>

<script>
    import Languages from "./Languages";
    import DesctopNavigation from "./DesktopNavigation";
    import MobileHeaderContent from "./MobileHeaderContent";
    import Search from './search'

    export default {
        name: "Header",
        components:{
            MobileHeaderContent,
            DesctopNavigation,
            Languages,
            Search
        },
        data(){
            return{

            }
        }
    }
</script>

<style>
    .row{
        margin-left: 0!important;
        margin-right: 0!important;
    }
</style>

<style lang="scss" scoped>
    @import 'header-style';
    .register-button {
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(108, 108, 108, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    }
    .login-button {
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(108, 108, 108, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    }
</style>