<template>
    <v-row>
        <v-col>
            <div class="app-aside">
                <v-navigation-drawer
                        width="300"
                        data-area="sidebar"
                        v-model="drawer"
                        class="app-drawer"
                        absolute
                        temporary
                        disable-route-watcher
                        :mobile-breakpoint="2131"
                >
                    <div class="drawer-top-landing">
                        <div v-if="!$route.query.s" class="px-2">
                            <v-list-item class="drawer-anchor-landing">
                                <v-list-item-content data-toggle="close">
                                    <v-list-item-title>
                                        <span>Ro'yxatdan o'tish</span>
                                    </v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                            <v-list-item class="drawer-anchor-landing">
                                <v-list-item-content data-toggle="close">
                                    <v-list-item-title>
                                        <span>Kirish</span>
                                    </v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </div>
                        <div v-if="$route.query.s" class="px-2">
                            <v-list-item class="drawer-anchor-landing">
                                <v-list-item-icon >
                                    <v-btn icon @click.stop="goBack">
                                        <v-icon  >{{ 'mdi mdi-chevron-left' }}</v-icon>
                                    </v-btn>

                                </v-list-item-icon>
                                <v-list-item-content>

                                    <v-list-item-title>
                                        <span>Yo'nalishlar</span>
                                    </v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </div>
                    </div>

                    <div class="drawer-content" >
                        <v-list-item v-for="(item, index) in nav" class="drawer-anchor">
                            <v-list-item-content @click="()=>onClickNav(index)">
                                <v-list-item-title>
                                    <span>{{item.title}}</span>
                                </v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </div>

                </v-navigation-drawer>
                <div v-show="drawer" class="mobile-layer" data-toggle="close"></div>
                <div v-if="drawer"
                        class="close-cicrle p-absolute d-flex justify-center align-center"
                        data-toggle="close"
                >
                    <img src="@/assets/img/icons/icon-21.svg" alt />
                </div>
            </div>
            <div class="pa-2" @click="drawer=true" data-toggle="menu">
                <v-btn icon>
                <i style="font-size: 35px" class="mdi mdi-menu"></i>
                </v-btn>
            </div>
        </v-col>
        <v-col>
            <router-link class="app-logo text-decoration-none d-flex justify-center" to="/landing">
                <img src="@/assets/img/logo.svg" alt="Logo" />
                <span class="ml-5">edu</span>
            </router-link>
        </v-col>
        <v-col >
            <div class="d-flex justify-end">
                <div class="mr-4 pa-2">
                    <v-btn icon>
                    <i style="font-size: 35px" class="mdi mdi-magnify"></i>
                    </v-btn>
                </div>
                <div class="mr-2 pa-2" >
                    <v-btn icon>
                    <i style="font-size: 35px" class="mdi mdi-account-outline"></i>
                    </v-btn>
                </div>
            </div>

        </v-col>
    </v-row>
</template>

<script>
    import { mobileMenu } from "@/utils/frontend";
    export default {
        name: "MobileHeaderContent",
        computed:{

        },
        data(){
            return {
                drawer: false,
                nav:[],
                links: [
                    {sub:[
                            {title: 'Matematika',
                                url: 'mat1',
                                sub: [{
                                    title: 'Matematika oliy o’quv yurtlariga tayyorgarlik uchun',
                                    url: 'mat2',
                                }],
                            }
                        ],
                        title: 'Abituriyentlar uchun',
                        url: '1'
                    },
                    {sub:[
                            {title: 'Matematika',
                                url: 'mat1',
                                sub: [{
                                    title: 'Matematika oliy o’quv yurtlariga tayyorgarlik uchun',
                                    url: 'mat2',
                                }],
                            }
                        ],
                        title: 'Biznes uchun',
                        url: '1'
                    },
                    {sub:[
                            {title: 'Matematika',
                                url: 'mat1',
                                sub: [{
                                    title: 'Matematika oliy o’quv yurtlariga tayyorgarlik uchun',
                                    url: 'mat2',
                                }],
                            }
                        ],
                        title: 'IT va Dasturlar uchun',
                        url: '1'
                    },
                    {sub:[
                            {title: 'Matematika',
                                url: 'mat1',
                                sub: [{
                                    title: 'Matematika oliy o’quv yurtlariga tayyorgarlik uchun',
                                    url: 'mat2',
                                }],
                            }
                        ],
                        title: 'San’at yo’nalishi',
                        url: '1'
                    }
                ]
            }
        },
        methods:{
            onClickNav(index){
                console.log("index", index)
                const sub1 = this.$route.query.s;
                const sub2 = this.$route.query.s2;
                const path = this.$route.path
                if (sub1 && sub2){
                    this.nav = this.links
                    this.$router.push({ path: this.nav[index].url, query: {}})
                    this.drawer = false
                }else if (sub1){
                    if (this.nav[index].sub.length > 0){
                        this.nav = this.nav[index].sub
                        this.$router.push({query: { s: sub1, s2: index }})
                        this.drawer = true
                    }else {
                        this.$router.push({ path: this.nav[index].url, query: { }})
                        this.nav = this.links
                        this.drawer = false
                    }
                }else {
                    if (this.nav[index].sub.length > 0){
                        this.nav = this.nav[index].sub
                        this.$router.push({query: { s: index }})

                    }else {
                        this.$router.push({ path: this.nav[index].url, query: { }})
                        this.nav = this.links
                        this.drawer = false
                    }
                }
            },
            goBack(e){
                e.preventDefault();
                this.$router.back();
                this.drawer = true
            },
            findNavByUrl(){
                const sub1 = this.$route.query.s;
                const sub2 = this.$route.query.s2;

                if (sub1 && sub2){
                    this.nav = this.links[sub1].sub[sub2].sub
                }else if (sub1){
                    this.nav = this.links[sub1].sub
                }else {
                    this.nav = this.links
                }
            }
        },
        mounted() {
            this.$router.replace({query: { }})

            mobileMenu();
        },
        beforeUpdate() {
            this.findNavByUrl();
        },
    }
</script>

<style lang="scss" scoped>
    @import 'header-style';
    .app-drawer{
        z-index: 1000;
    }
    .close-cicrle{
        z-index: 999;
    }
    .drawer-top-landing{
        margin: 0 !important;
        box-shadow: 0px 4px 4px rgba(173, 173, 173, 0.25) !important;
        display: flex !important;
        align-items: center !important;
        padding: 0 !important;
        border-radius: 0 !important;
    }
</style>