<template>
    <div class="all-news-container">



    </div>
</template>

<script>
    export default {
        name: "AllNews"
    }
</script>

<style scoped lang="scss">
.all-news-container{
    min-height: 100vh;
    font-family: 'K2D', sans-serif !important;
    padding-top: 30px;
.article-image{

}
    .article-text{
        max-width: 1500px;
    }

}
</style>