<template>
    <div class="news-container">
        <v-row justify="space-around">
            <v-col md="6">
                <div class="d-flex align-center justify-space-between">
                    <h1 class="title-1 mb-3 color-dark news-title">Yangiliklar</h1>
                </div>
                <div class="news-content">
                    <v-img
                            src="@/assets/img/photo-news.svg"
                    ></v-img>
                    <div class="news-texts">
                        <p>G’oliblar uchun ajoyib qulaylik.</p>
                        <span>
                            Endi testlardan yuqori ball to’plaganlar chegirmalarga ega bo’lishi mumkin, ushbu qo’shilgan imkoniyatdan foydalanib qoling, yuqori natijalarni qo’lga kiritib kurslarga chegirmalarni qo’lga kiriting.
                        </span>
                        <div class="continue-reading">
                            <router-link to="landing/read-article" class="text-decoration-none">
                                Davomini o'qish</router-link>
                        </div>
                    </div>
                </div>
            </v-col>
            <v-col md="6">
                <div class="d-flex align-center justify-space-between">
                    <h1 class="title-1 mb-3 color-dark news-title">So'ngi yangiliklar</h1>
                </div>
                <div class="w-100 latest-news d-flex justify-space-between">
                    <v-img
                            max-width="40%"
                            src="@/assets/img/photo-news.svg"
                    ></v-img>
                    <div class="latest-news-texts">
                        <p>G’oliblar uchun ajoyib qulaylik.</p>
                        <span>
                            Endi testlardan yuqori ball to’plaganlar chegirmalarga ega bo’lishi mumkin, ushbu qo’shilgan imkoniyatdan foydalanib...
                        </span>
                    </div>
                </div>
                <div class="w-100 latest-news d-flex justify-space-between">
                    <v-img
                            max-width="40%"
                            src="@/assets/img/photo-news.svg"
                    ></v-img>
                    <div class="latest-news-texts">
                        <p>G’oliblar uchun ajoyib qulaylik.</p>
                        <span>
                            Endi testlardan yuqori ball to’plaganlar chegirmalarga ega bo’lishi mumkin, ushbu qo’shilgan imkoniyatdan foydalanib...
                        </span>
                    </div>
                </div>
                <div class="w-100 latest-news d-flex justify-space-between">
                    <v-img
                            max-width="40%"
                            src="@/assets/img/photo-news.svg"
                    ></v-img>
                    <div class="latest-news-texts">
                        <p>G’oliblar uchun ajoyib qulaylik.</p>
                        <span>
                            Endi testlardan yuqori ball to’plaganlar chegirmalarga ega bo’lishi mumkin, ushbu qo’shilgan imkoniyatdan foydalanib...
                        </span>
                    </div>
                </div>
            </v-col>
        </v-row>
        <div class="d-flex justify-center">
            <router-link to="landing/all-news" class="text-decoration-none">
                <v-btn
                        class="view-all-btn"
                        x-large
                        dark
                        color="#FFCAC5">Barchasini ko'rish</v-btn>
            </router-link>
        </div>
    </div>
</template>

<script>
    export default {
        name: "News"
    }
</script>

<style scoped lang="scss">
.news-container{
    font-family: 'K2D', sans-serif !important;
    padding: 10px;
    .news-title{
        font-size: 25px;
        font-style: normal;
        margin-bottom: 20px;
    }
    .news-content{
        margin-top: 20px;

        .news-texts{
            p{
                font-size: 18px;
                margin-top: 10px;
            }
            span{
                font-size: 14px;
            }
            .continue-reading{
                font-size: 14px;
                margin-top: 10px;
                color: #6C8A9B;
            }
        }
    }

    .latest-news{
        margin-top: 20px;
        .latest-news-texts{
            width: 60%;
            padding: 0 10px;
            margin-left: 10px;
            p{
                font-size: 15px;
            }
            span{
                font-size: 13px;
            }
        }
    }

    .view-all-btn{
        margin-top: 100px;
        height: 70px !important;
        width: 43vw;
        border-radius: 10px !important;
        font-size: 3vw;
        font-style: normal;
        box-shadow: 0px 4px 20px rgba(166, 166, 166, 0.25), inset 0px 4px 22px #E9B7B2;
        text-transform: none;
    }
}

    @media screen and (max-width: 600px){
        .latest-news-texts{
            width: 100% !important;
            padding: 0 10px;
        }
        .news-container{
            padding: 1em;
            .view-all-btn{
                font-size: 25px;
            }
        }
    }
</style>