<template>
    <div class="read-container">
        <div class="article-image d-flex justify-center">
        <img  src="@/assets/img/read-news-image.png"/>
        </div>

        <div class="article-text">
            <h2 class="">G’oliblar uchun ajoyib qulaylik. G’oliblar uchun ajoyib qulaylik.G’oliblar uchun ajoyib qulaylik.</h2>

            <p>Endi testlardan yuqori ball to’plaganlar chegirmalarga ega bo’lishi mumkin, ushbu qo’shilgan imkoniyatdan foydalanib qoling, yuqori natijalarni qo’lga kiritib kurslarga chegirmalarni qo’lga kiriting.
            </p>
            <p>
                Endi testlardan yuqori ball to’plaganlar chegirmalarga ega bo’lishi mumkin, ushbu qo’shilgan imkoniyatdan foydalanib qoling, yuqori natijalarni qo’lga kiritib kurslarga chegirmalarni qo’lga kiriting.  Endi testlardan yuqori ball to’plaganlar chegirmalarga ega bo’lishi mumkin, ushbu qo’shilgan imkoniyatdan foydalanib qoling, yuqori natijalarni qo’lga kiritib kurslarga chegirmalarni qo’lga kiriting.  Endi testlardan yuqori ball to’plaganlar chegirmalarga ega bo’lishi mumkin, ushbu qo’shilgan imkoniyatdan foydalanib qoling, yuqori natijalarni qo’lga kiritib kurslarga chegirmalarni qo’lga kiriting.
            </p>
            <p>
                Endi testlardan yuqori ball to’plaganlar chegirmalarga ega bo’lishi mumkin, ushbu qo’shilgan imkoniyatdan foydalanib qoling, yuqori natijalarni qo’lga kiritib kurslarga chegirmalarni qo’lga kiriting.
                Endi testlardan yuqori ball to’plaganlar chegirmalarga ega bo’lishi mumkin, ushbu qo’shilgan imkoniyatdan foydalanib qoling, yuqor  natijalarni qo’lga kiritib kurslarga chegirmalarni qo’lga kiriting.  Endi testlardan yuqori ball to’plaganlar chegirmalarga ega bo’lishi mumkin, ushbu qo’shilgan imkoniyatdan foydalanib qoling, yuqori natijalarni qo’lga kiritib kurslarga chegirmalarni qo’lga kiriting. Endi testlardan yuqori ball to’plaganlar chegirmalarga ega bo’lishi mumkin, ushbu qo’shilgan imkoniyatdan foydalanib qoling, yuqori natijalarni qo’lga kiritib kurslarga chegirmalarni qo’lga kiriting.  Endi testlardan yuqori ball to’plaganlar chegirmalarga ega bo’lishi mumkin, ushbu qo’shilgan imkoniyatdan foydalanib qoling, yuqori natijalarni qo’lga kiritib kurslarga chegirmalarni qo’lga kiriting.  Endi testlardan yuqori ball to’plaganlar chegirmalarga ega bo’lishi mumkin, ushbu qo’shilgan imkoniyatdan foydalanib qoling, yuqori natijalarni qo’lga kiritib kurslarga chegirmalarni qo’lga kiriting. Endi testlardan yuqori ball to’plaganlar chegirmalarga ega bo’lishi mumkin, ushbu qo’shilgan imkoniyatdan foydalanib qoling, yuqori natijalarni qo’lga kiritib kurslarga chegirmalarni qo’lga kiriting. Endi testlardan yuqori ball to’plaganlar chegirmalarga ega bo’lishi mumkin, ushbu qo’shilgan imkoniyatdan foydalanib qoling, yuqori natijalarni qo’lga kiritib kurslarga chegirmalarni qo’lga kiriting. Endi testlardan yuqori ball to’plaganlar chegirmalarga ega bo’lishi mumkin, ushbu qo’shilgan imkoniyatdan foydalanib qoling, yuqori natijalarni qo’lga kiritib kurslarga chegirmalarni qo’lga kiriting. Endi testlardan yuqori ball to’plaganlar chegirmalarga ega bo’lishi mumkin, ushbu qo’shilgan imkoniyatdan foydalanib qoling, yuqori natijalarni qo’lga kiritib kurslarga chegirmalarni qo’lga kiriting.
            </p>
        </div>

        <div class="d-flex align-center justify-space-between">
            <h1 class="title-1 mb-3 color-dark courses-titile">Top kurslar</h1>
        </div>
        <flickity class="subject-flickity mb-10" ref="flickity" :options="flickityOptions">
            <carousel-card v-for="course in courses" :course-data="course">
            </carousel-card>
        </flickity>
    </div>
</template>

<script>
    import CarouselCard from "../Courses/component/CarouselCard";
    import flickity from "vue-flickity";
    export default {
        name: "ReadArticle",
        components: {CarouselCard, flickity},
        data: () => ({
            flickityOptions: {
                prevNextButtons: true,
                pageDots: false,
                freeScroll: false,
                contain: true
            },
            courses:[
                {
                    id:0,
                    img: require("@/assets/img/course-img-1.png"),
                    subject:"Matematikadan oliy ta’lim muassalari uchun tayyorgarlik kursi",
                    tutor:"Nazar Nazarov",
                    rating:4.5,
                    price:"400 000",
                    votesNumber:"300",
                    votesCount:"17ta ovoz",
                    salePrice:"300 000"
                },
                {
                    id:1,
                    img: require("@/assets/img/course-img-2.png"),
                    subject:"Matematikadan oliy ta’lim muassalari uchun tayyorgarlik kursi",
                    tutor:"Nazar Nazarov",
                    rating:4.5,
                    price:"400 000",
                    votesNumber:"300",
                    votesCount:"17ta ovoz",
                    salePrice:"300 000"
                },
                {
                    id:2,
                    img: require("@/assets/img/course-img-1.png"),
                    subject:"Matematikadan oliy ta’lim muassalari uchun tayyorgarlik kursi",
                    tutor:"Nazar Nazarov",
                    rating:4.5,
                    price:"400 000",
                    votesNumber:"300",
                    votesCount:"17ta ovoz",
                    salePrice:"300 000"
                },
                {
                    id:3,
                    img: require("@/assets/img/course-img-2.png"),
                    subject:"Matematikadan oliy ta’lim muassalari uchun tayyorgarlik kursi",
                    tutor:"Nazar Nazarov",
                    rating:4.5,
                    price:"400 000",
                    votesNumber:"300",
                    votesCount:"17ta ovoz",
                    salePrice:"300 000"
                },
                {
                    id:4,
                    img: require("@/assets/img/course-img-1.png"),
                    subject:"Matematikadan oliy ta’lim muassalari uchun tayyorgarlik kursi",
                    tutor:"Nazar Nazarov",
                    rating:4.5,
                    price:"400 000",
                    votesNumber:"300",
                    votesCount:"17ta ovoz",
                    salePrice:"300 000"
                },
                {
                    id:5,
                    img: require("@/assets/img/course-img-1.png"),
                    subject:"Matematikadan oliy ta’lim muassalari uchun tayyorgarlik kursi",
                    tutor:"Nazar Nazarov",
                    rating:4.5,
                    price:"400 000",
                    votesNumber:"300",
                    votesCount:"17ta ovoz",
                    salePrice:"300 000"
                },
            ]
        }),
    }
</script>

<style scoped lang="scss">
.read-container{
    font-family: 'K2D', sans-serif !important;
    padding: 30px;
    .article-text{
        padding: 40px;
        h2{
            font-size: 1.5vw;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        p{
            font-size: 1.2vw;
        }
    }
    .courses-titile{
        margin: 30px;
        font-size: 2.5vw;
        font-style: normal;
    }
}

@media screen and (max-width: 1000px){
    .article-text{
        h2{
            font-size: large !important;
        }
        p{
            font-size: 15px !important;
        }
    }
}
@media screen and (max-width: 600px){
    .read-container{
        padding: 15px;

        .article-text{
            padding: 15px;
            p{
                font-size: 15px;
            }
        }
    }
}
</style>