<template>
    <div class="main-intro">
        <v-row>
            <v-col cols="12" lg="6" md="6" sm="6" xsm="12">
                <div class="d-flex justify-end w-100 intro-text mb-1">
                   <h1> Samarali bilim oling, Yuqori natijalarga erishing!</h1>
                </div>
                <div class="d-flex justify-center w-100">
                    <router-link to="/login" class="text-decoration-none">
                        <v-btn
                                class="start-button"
                                x-large
                                color="#A5D9A1"
                                dark
                        >
                            Boshlash
                        </v-btn>
                    </router-link>

                </div>

            </v-col>
            <v-col cols="12" lg="6" md="6" sm="6" xsm="12">
                <div class="study-online">
                    <img width="100%" src="@/assets/img/study_online.png" alt="">
                    <v-btn @click="dialog=true" icon class="play-button">
                        <img src="@/assets/img/play-button.svg" alt="">
                    </v-btn>
                </div>

            </v-col>
        </v-row>
        <v-dialog
                v-model="dialog"
                max-width="900"
        >
            <v-card class="dialog-card" height="500">
                <img class="play-icon" src="@/assets/img/play.png" alt="">

            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    export default {
        name: "Main",
        data(){
            return{
                dialog: false
            }
        }
    }
</script>

<style scoped lang="scss">

.main-intro{
    /*min-height: 100vh;*/
    margin-bottom: 40px;

    .intro-text{
        margin-left: 27%;
        margin-top: 20px;
        >h1{
            color: #A5D9A1;
            font-size: 4.5vw;
            text-align: center;
            font-family: 'K2D', sans-serif !important;
        }
    }

    .start-button{
        margin-top: 20px;
        margin-left: 35%;
        height: 7vw;
        width: 23vw;
        /*max-width: 300px;*/
        border-radius: 2vw;
        box-shadow: 0px 4px 20px rgba(166, 166, 166, 0.25), inset 0px 4px 22px #7BAA77;
        font-size: 3vw;
        font-family: 'K2D', sans-serif !important;
        font-style: normal;
    }

    .study-online{
        position: relative;
        .play-button{
            position: absolute;
            top: 30%;
            right: 20%;

        }
    }

}

.dialog-card{
    position: relative!important;
    .play-icon {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
    @media screen and(max-width: 600px){
        .main-intro{
            min-height: 800px!important;
            margin-bottom: 0 !important;
            position: relative;
        }
        .start-button{
            position: absolute!important;
            height: 80px !important;
            width: 250px !important;
            border-radius: 10px !important;
            font-size: 20px !important;
            margin: 0!important;
            top: 75%;
            left: 50%;
            transform: translate(-50%, -50%);

        }
        .intro-text{
            margin-left: auto !important;
            >h1{
                font-size: 30px!important;
            }
        }
    }
@media screen and(max-width: 934px){
    .main-intro {
        /*min-height: auto !important;*/
    }

    }
</style>