<template>
  <div class="news-view mt-16">
    <div class="news-view-content">
      <p class="text-center">Tizimda yangilanish</p>

      <div class="news-view-container mt-8">
        <p>
          Endi testlardan yuqori ball to’plaganlar chegirmalarga ega bo’lishi
          mumkin, ushbu qo’shilgan imkoniyatdan foydalanib qoling, yuqori
          natijalarni qo’lga kiritib kurslarga chegirmalarni qo’lga kiriting.
        </p>

        <p>
          Endi testlardan yuqori ball to’plaganlar chegirmalarga ega bo’lishi
          mumkin, ushbu qo’shilgan imkoniyatdan foydalanib qoling, yuqori
          natijalarni qo’lga kiritib kurslarga chegirmalarni qo’lga kiriting.
        </p>

        <p>
          Endi testlardan yuqori ball to’plaganlar chegirmalarga ega bo’lishi
          mumkin, ushbu qo’shilgan imkoniyatdan foydalanib qoling, yuqori
          natijalarni qo’lga kiritib kurslarga chegirmalarni qo’lga kiriting.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">
  @media screen and (min-width: 651px) {
    .news-view {
      max-height: calc(100% - 60px);
      padding-bottom: 20px;
      overflow: auto;
    }
  }
</style>