<template>
    <div class="all-courses-container">
        <div class="d-flex align-center justify-space-between">
            <h1 class="title-1 mb-3 color-dark couses-titile">Saralash</h1>
        </div>
        <v-row justify="center">
            <v-col cols12 md="5" sm="12">
                <v-select
                        class="filter-select"
                        :items="items"
                        label="Abiturientlar uchun"
                        solo
                ></v-select>
            </v-col>
            <v-col cols="12" md="5" sm="12">
                <v-select
                        class="filter-select"
                        :items="items2"
                        label="Matematika"
                        solo
                ></v-select>
            </v-col>
        </v-row>

        <div class="d-flex align-center justify-space-between">
            <h1 class="title-1 mb-3 color-dark couses-titile">Top kurslar</h1>
        </div>
        <flickity class="subject-flickity mb-10" ref="flickity" :options="flickityOptions">
            <carousel-card v-for="course in courses" :course-data="course">
            </carousel-card>
        </flickity>

        <div class="d-flex align-center justify-space-between">
            <h1 class="title-1 mb-3 color-dark couses-titile">Barcha kurslar</h1>
        </div>
        <flickity class=" height mb-10" ref="flickity" :options="flickityOptions">
            <div v-for="course in courses">
                <carousel-card :course-data="course" :show-rating="false">
                </carousel-card>
                <carousel-card :course-data="course" :show-rating="false">
                </carousel-card>
            </div>

        </flickity>

        <div class="d-flex align-center justify-space-between">
            <h1 class="title-1 mb-3 color-dark couses-titile">Testlar</h1>
        </div>
        <flickity class="subject-flickity mb-10" ref="flickity" :options="flickityOptions">
            <div v-for="course in courses">
                <carousel-card :course-data="course" :show-rating="false">
                </carousel-card>
            </div>

        </flickity>

    </div>
</template>

<script>
    import CarouselCard from "./component/CarouselCard";
    import flickity from "vue-flickity";
    export default {
        name: "AllCourses",
        components: {CarouselCard, flickity},
        data: () => ({
            items: ['Abiturientlar uchun'],
            items2: ['Matematika'],
            flickityOptions: {
                prevNextButtons: true,
                pageDots: false,
                freeScroll: false,
                contain: true
            },
            courses:[
                {
                    id:0,
                    img: require("@/assets/img/course-img-1.png"),
                    subject:"Matematikadan oliy ta’lim muassalari uchun tayyorgarlik kursi",
                    tutor:"Nazar Nazarov",
                    rating:4.5,
                    price:"400 000",
                    votesNumber:"300",
                    votesCount:"17ta ovoz",
                    salePrice:"300 000"
                },
                {
                    id:1,
                    img: require("@/assets/img/course-img-1.png"),
                    subject:"Matematikadan oliy ta’lim muassalari uchun tayyorgarlik kursi",
                    tutor:"Nazar Nazarov",
                    rating:4.5,
                    price:"400 000",
                    votesNumber:"300",
                    votesCount:"17ta ovoz",
                    salePrice:"300 000"
                },
                {
                    id:2,
                    img: require("@/assets/img/course-img-1.png"),
                    subject:"Matematikadan oliy ta’lim muassalari uchun tayyorgarlik kursi",
                    tutor:"Nazar Nazarov",
                    rating:4.5,
                    price:"400 000",
                    votesNumber:"300",
                    votesCount:"17ta ovoz",
                    salePrice:"300 000"
                },
                {
                    id:3,
                    img: require("@/assets/img/course-img-1.png"),
                    subject:"Matematikadan oliy ta’lim muassalari uchun tayyorgarlik kursi",
                    tutor:"Nazar Nazarov",
                    rating:4.5,
                    price:"400 000",
                    votesNumber:"300",
                    votesCount:"17ta ovoz",
                    salePrice:"300 000"
                },
                {
                    id:4,
                    img: require("@/assets/img/course-img-1.png"),
                    subject:"Matematikadan oliy ta’lim muassalari uchun tayyorgarlik kursi",
                    tutor:"Nazar Nazarov",
                    rating:4.5,
                    price:"400 000",
                    votesNumber:"300",
                    votesCount:"17ta ovoz",
                    salePrice:"300 000"
                },
                {
                    id:5,
                    img: require("@/assets/img/course-img-1.png"),
                    subject:"Matematikadan oliy ta’lim muassalari uchun tayyorgarlik kursi",
                    tutor:"Nazar Nazarov",
                    rating:4.5,
                    price:"400 000",
                    votesNumber:"300",
                    votesCount:"17ta ovoz",
                    salePrice:"300 000"
                },
            ]
        }),
    }
</script>

<style lang="scss">
    .filter-select{
        label{
            color: #1F9389 !important;
        }
        .v-input__icon{
            i{
                font-size: 60px !important;
                color: #B2B2B2 !important;
            }

        }
    }
</style>

<style scoped lang="scss">
    .all-courses-container{
        font-family: 'K2D', sans-serif !important;
        padding: 30px;

        .couses-titile{
            margin: 30px;
            font-size: 3vw;
            font-style: normal;
        }

        .filter-select{
            background: #FFFFFF;
            border: 1px solid #EBEBEB;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(176, 176, 176, 0.25);
            border-radius: 6px;
        }
        .height{
            >.flickity-viewport{
                height: 900px !important;
            }

        }
    }

    @media screen and (max-width: 600px){
        .all-courses-container {

            .couses-titile {
                margin: 30px;
                font-size: 2rem;
                font-style: normal;
            }
        }
    }

</style>