<template>
    <div class="landing-courses-container">
        <div class="subject-container mt-10 pa-10">
            <div class="d-flex align-center justify-space-between">
        <h1 class="title-1 mb-3 color-dark couses-titile">Mashhur kurslar</h1>
            </div>
        <flickity class="subject-flickity mb-10" ref="flickity" :options="flickityOptions">
            <carousel-card v-for="course in courses" :course-data="course">
            </carousel-card>
        </flickity>

        </div>
        <div class="subject-container pa-10">
            <div class="d-flex align-center justify-space-between">
        <h1 class="title-1 mb-3 color-dark couses-titile">Testlar</h1>
            </div>
        <flickity class="subject-flickity mb-10" ref="flickity" :options="flickityOptions">
            <carousel-card v-for="course in courses" :course-data="course">
            </carousel-card>
        </flickity>

        </div>

        <div class="d-flex justify-center">
            <router-link class="text-decoration-none" to="landing/all-courses">
                <v-btn
                        class="view-all-btn"
                        x-large
                        dark
                        color="#FFCAC5">Barchasini ko'rish</v-btn>
            </router-link>
        </div>
    </div>
</template>

<script>
    import CarouselCard from "@/views/Landing/Courses/component/CarouselCard";
    import flickity from "vue-flickity";
    export default {
        name: "Courses",
        components: {CarouselCard, flickity},
        data(){
            return{
                flickityOptions: {
                    prevNextButtons: true,
                    pageDots: false,
                    freeScroll: false,
                    contain: true
                },
                courses:[
                    {
                        id:0,
                        img: require("@/assets/img/course-img-1.png"),
                        subject:"Matematikadan oliy ta’lim muassalari uchun tayyorgarlik kursi",
                        tutor:"Nazar Nazarov",
                        rating:4.5,
                        price:"400 000",
                        votesNumber:"300",
                        votesCount:"17ta ovoz",
                        salePrice:"300 000"
                    },
                    {
                        id:1,
                        img: require("@/assets/img/course-img-1.png"),
                        subject:"Matematikadan oliy ta’lim muassalari uchun tayyorgarlik kursi",
                        tutor:"Nazar Nazarov",
                        rating:4.5,
                        price:"400 000",
                        votesNumber:"300",
                        votesCount:"17ta ovoz",
                        salePrice:"300 000"
                    },
                    {
                        id:2,
                        img: require("@/assets/img/course-img-1.png"),
                        subject:"Matematikadan oliy ta’lim muassalari uchun tayyorgarlik kursi",
                        tutor:"Nazar Nazarov",
                        rating:4.5,
                        price:"400 000",
                        votesNumber:"300",
                        votesCount:"17ta ovoz",
                        salePrice:"300 000"
                    },
                    {
                        id:3,
                        img: require("@/assets/img/course-img-1.png"),
                        subject:"Matematikadan oliy ta’lim muassalari uchun tayyorgarlik kursi",
                        tutor:"Nazar Nazarov",
                        rating:4.5,
                        price:"400 000",
                        votesNumber:"300",
                        votesCount:"17ta ovoz",
                        salePrice:"300 000"
                    },
                    {
                        id:4,
                        img: require("@/assets/img/course-img-1.png"),
                        subject:"Matematikadan oliy ta’lim muassalari uchun tayyorgarlik kursi",
                        tutor:"Nazar Nazarov",
                        rating:4.5,
                        price:"400 000",
                        votesNumber:"300",
                        votesCount:"17ta ovoz",
                        salePrice:"300 000"
                    },
                    {
                        id:5,
                        img: require("@/assets/img/course-img-1.png"),
                        subject:"Matematikadan oliy ta’lim muassalari uchun tayyorgarlik kursi",
                        tutor:"Nazar Nazarov",
                        rating:4.5,
                        price:"400 000",
                        votesNumber:"300",
                        votesCount:"17ta ovoz",
                        salePrice:"300 000"
                    },
                ]
            }
        }
    }
</script>

<style scoped lang="scss">

.landing-courses-container{
    font-family: 'K2D', sans-serif !important;
    .view-all-btn{
        margin-top: 20px;
        height: 5.5vw;
        width: 40vw;
        border-radius: 10px;
        font-size: 3vw;
        font-style: normal;
        box-shadow: 0px 4px 20px rgba(166, 166, 166, 0.25), inset 0px 4px 22px #E9B7B2;
        text-transform: none;
    }
    .couses-titile{
        font-size: 3vw;
        font-style: normal;
    }

    @media screen and(max-width: 800px){
        .view-all-btn {
            height: 70px !important;
            font-size: 27px;
            border-radius: 10px;
        }
    }
    @media screen and(max-width: 600px){
        .view-all-btn{
            height: 60px;
            font-size: 27px;
            border-radius: 10px;
        }
        .couses-titile{
            font-size: 30px;
            font-style: normal;
        }
    }
}
</style>