<template>
    <div class="wrap-faq">
        <div class="faqs-container" :style="{background: 'linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),'+ 'url('+img+')'}">
            <div class="d-flex align-center justify-space-between">
                <h1 class="title-1 mb-3 color-dark faq-title">Ko’p marotaba beriladigan savollar</h1>
            </div>
            <v-row justify="space-around">
                <v-col cols="12" lg="6" md="6" sm="12" xs="12">
                    <v-card
                            v-for="(item,i) in 5"
                            :key="i"
                            class="faqs">
                        <v-expansion-panels
                                class="mb-4">
                            <v-expansion-panel
                            >
                                <v-expansion-panel-header class="faq-header" expand-icon="mdi-menu-down my-icon">
                                    <div class="d-flex justify-start faq-content">
                                        <div class="d-flex justify-center faq-num"><span>{{item}}</span></div>
                                        <span>Kurslardan foydalanish tartibi</span>
                                    </div>

                                </v-expansion-panel-header>
                                <v-expansion-panel-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</v-expansion-panel-content>
                            </v-expansion-panel>
                        </v-expansion-panels>
                    </v-card>

                </v-col>
                <v-col cols="12" lg="6" md="6" sm="12" xs="12">
                    <v-card
                            v-for="(item,i) in 5"
                            :key="i"
                            class="faqs"
                            :class="'faq-'+i"
                    >
                        <v-expansion-panels
                                class="mb-4">
                            <v-expansion-panel
                            >
                                <v-expansion-panel-header class="faq-header" expand-icon="mdi-menu-down">
                                    <div class="d-flex justify-start faq-content">
                                        <div class="d-flex justify-center faq-num"><span>{{item+5}}</span></div>
                                        <span>Kurslardan foydalanish tartibi</span>
                                    </div>

                                </v-expansion-panel-header>
                                <v-expansion-panel-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</v-expansion-panel-content>
                            </v-expansion-panel>
                        </v-expansion-panels>
                    </v-card>
                </v-col>
            </v-row>

        </div>
    </div>

</template>

<script>
    export default {
        name: "Faq",
        data(){
            return{
                img: require("@/assets/img/rb.svg")
            }
        }
    }
</script>

<style lang="scss">
    .faq-header{
        .v-expansion-panel-header__icon{
            i{
                font-size: 60px !important;
                color: #B2B2B2 !important;
            }

        }
    }
</style>

<style scoped lang="scss">
    .wrap-faq{
        background-color: #FFFFFF;
    }
    .faqs-container{
        margin-top: 100px;
        padding: 4px 10px 249px;
        background-position: 0 75px !important;
        background-size: 100% !important;
        .faq-title{
            font-size: 3vw;
            font-style: normal;
        }
    }
.faqs{
    font-family: 'K2D', sans-serif !important;
    margin: 0px;
    box-shadow: 0px 4px 4px rgba(170, 170, 170, 0.25) !important;
    border-radius: 10px !important;
    >.v-expansion-panels{
        border: 1px solid #F4F4F4;
    }


    .faq-content{
        >span{
            margin-top: 13px;
            margin-left: 15px;
        }
    }

    .faq-num{
        border-radius: 20px;
        height: 40px;
        width: 40px !important;
        background-color: #A5D9A1;
        >span{
            margin-top: 13px;
            color: white;
        }
    }
}

    @media screen and (max-width: 950px){
        .faqs-container{
            padding:10px;
            .faq-title {
                font-size: 2rem !important;
            }
            .col-12{
                padding: 1px!important;
                .faq-0{
                    margin-top: 0!important;
                }
            }
        }



    }
    @media screen and (max-width: 769px){
        .faqs-container{

        }


    }
    @media screen and (max-width: 560px){
        .faqs-container{
            padding: 0px;
            .faq-title {
                margin-left: 10px;
                font-size: 1.3rem !important;
            }

            .faq-content{
                >span{
                    margin-top: 8px;
                    margin-left: 10px;
                }
            }

            .faq-num{
                border-radius: 15px;
                height: 30px;
                width: 30px !important;
                background-color: #A5D9A1;
                >span{
                    margin-top: 8px;
                    color: white;
                }
            }

        }


    }
</style>