<template>
    <div>
        <Main/>
        <Courses/>
        <Privilegies/>
        <Faq/>
        <News/>
        <Counter/>
    </div>
</template>

<script>
    import Main from "@/views/Landing/Main/Main";
    import Courses from "@/views/Landing/Courses/Courses";
    import Privilegies from "../../views/Landing/Privilegies/Privilegies";
    import Faq from "../../views/Landing/Faq";
    import News from "../../views/Landing/News/News";
    import Counter from "../../views/Landing/Counter/Counter";

    export default {
        name: "index",
        components:{
            Counter,
            News,
            Faq,
            Privilegies,
            Courses,
            Main
        }
    }
</script>

<style scoped>

</style>