<template>
  <div class="success-payment-view">
    <div class="payment-view">
      <div class="payment-view-box px-8 py-8">
        <p class="text-center mb-8">To’lov qavul qilindi</p>

        <span class="color-dark font-700">
          Matematikadan oliy ta’lim muassalari uchun tayyorgarlik kursi
        </span>

        <div
          class="success-payment-text d-flex align-center justify-center my-10"
        >
          <img class="mr-6" src="@/assets/img/icons/icon-34.svg" alt="" />
          <span class="color-green font-700">400ming so’m</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
  @media screen and (min-width: 651px) {
    .success-payment-view {
      max-height: calc(100% - 70px);
      padding-bottom: 20px;
      overflow: auto;
    }
  }
</style>