<template>
  <div class="chat-user-id-view">
    <div class="mobile-chat-id-meta align-center">
      <div class="mobile-chat-back" @click="goBack">
        <img class="d-block" src="@/assets/img/icons/icon-46.svg" alt="" />
      </div>
      <span class="ml-3 mr-auto">Nazar Nazarov</span>
      <div class="user-id-meta-avatar">
        <img src="@/assets/img/icons/default-avatar.svg" alt="" />
      </div>
    </div>
    <div class="chat-id-view px-2">
      <div class="chat-id-comment">
        <div class="chat-comment-for-text d-flex">
          <div class="chat-id-comment-date">
            <span>15:08</span>
          </div>
          <div class="chat-meta-text">
            <p>
              Assalomu alaykum, Nazar aka testlarni qayta topshirsam bo’ladimi
            </p>
          </div>
        </div>
      </div>

      <div class="chat-id-comment mr-auto">
        <div class="chat-comment-for-voice d-flex">
          <div class="voice-wrap d-flex align-center pointer">
            <span class="mr-auto color-dark font-500">Audioxabar</span>
            <div class="voice-icon">
              <img src="@/assets/img/icons/icon-45.svg" alt="" />
            </div>
          </div>
          <div class="chat-id-comment-date">
            <span>15:08</span>
          </div>
        </div>
      </div>
    </div>

    <div class="chat-text-content d-flex align-center">
      <div v-if="!recorded" class="chat-footer-items voice-recorder" :class="recording? 'recorder-active': ''"  @mousedown="startRecord" @mouseleave="stopRecord" @mouseup="stopRecord" @touchstart="startRecord" @touchend="stopRecord" @touchcancel="stopRecord">
        <i class="mdi mdi-microphone" ></i>
      </div>
      <div v-if="recorded" class="chat-footer-items voice-recorder recorder-active"  @click="clearRecord">
        <i class="mdi mdi-close" ></i>
      </div>
      <label for="file" class="chat-footer-items">
        <input type="file" id="file" class="d-none" />
        <i class="mdi mdi-file-document-outline"></i>
      </label>
      <div  v-if="!recording" class="chat-text-field mx-4 p-relative">
        <textarea class="pr-4" @input="startWrite"></textarea>
        <span>Xabar jo’natish uchun bu yerga biror nima yozing...</span>
      </div>
      <div  v-if="recording||recorded" class="chat-voice-recording mx-4 p-relative">
        <span>{{recordedTime}}</span>
      </div>
      <div class="chat-footer-items send-comment-wrap">
        <i class="mdi mdi-telegram"></i>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed:{
    recordedTime(){
      return this.$moment.duration(this.count, 'seconds').minutes() + " : "+this.$moment.duration(this.count, 'seconds').seconds()
    }
  },
  data(){
    return{
      recording: false,
      recorded: false,
      interval: false,
      count: 0
    }
  },
  mounted() {},
  methods: {
    startRecord(){
      if (!this.recorded){
        this.recording = true;
        if(!this.interval){
          this.interval = setInterval(() => this.count++, 1000)
        }
      }
    },
    stopRecord(){
      if (this.recording){
        this.recorded= true;
        clearInterval(this.interval)
        this.interval = false
      }

    },
    clearRecord(){
      console.log("clear record")
      if (this.recorded){
        this.recorded  = false;
        this.recording  = false;
        this.interval  = false;
        this.count  = 0;
      }
    },
    goBack() {
        const $chatView = document.querySelector('[data-chat="view"]');
        $chatView.classList.remove("active");
    },
    startWrite() {
      navigator.mediaDevices.getUserMedia()
      const $target = event.target;
      const $placeholder = $target.nextElementSibling;

      if ($target.value) {
        $placeholder.classList.add("active");
      } else {
        $placeholder.classList.remove("active");
      }
    },
  },
  beforeDestroy() {
    this.goBack();
  }
};
</script>

<style scoped lang="scss">
  @media screen and (min-width: 651px) {
    .chat-user-id-view {
      max-height: calc(100% - 70px);
      padding-bottom: 20px;
      overflow: auto;
    }
  }
  .voice-icon{
    cursor: pointer;
  }
  .voice-recorder{
    border-radius: 50%;
    cursor: pointer;
  }
  .voice-recorder:hover{
    background-color: #7C7C7C;
    border-radius: 50%;
    cursor: pointer;
  }
  .recorder-active{
    background-color: #7C7C7C;
  }
  .chat-voice-recording{
    flex: 1;
    text-align: center;
    >span{
      color: #7C7C7C;
    }
  }
</style>